{%- extends 'base/admin-base.njk' -%}
{%- block nav -%}
<nav aria-label="Software categories">
    <h2>Types of software</h2>
    {%- include "components/software-categories.njk" -%}
</nav>
{%- endblock -%}
