{%- extends 'base/admin-base.njk' -%}
{%- block nav -%}
<nav aria-labelledby="navlabel" class="secondary-nav">
    <h2 id="navlabel">Types of software</h2>
    {%- include "components/software-categories.njk" -%}
</nav>
{%- endblock -%}
