{%- extends 'base/htmleton.njk' -%}
{%- block head -%}
<title>epubtest.org{%- if title -%}: {{ title }}{%- endif -%}</title>
<script src="/js/dayjs.min.js"></script>
{%- endblock -%}
{%- block body -%}

<header>
    <h1><a href="/">epubtest.org</a></h1>
    <nav aria-label="Main navigation" class="main">
        <ul>
            <li><a href='/results'>Results</a></li>
            <li><a href='/test-books'>Test Books</a></li>
            <li><a href='/participate'>Participate</a></li>
            <li><a href='/about'>About</a></li>
        </ul>
    </nav>
    <nav aria-label="User navigation" class="user">
        <ul>
        {%- if accessLevel == 'public' -%}
            <li><a href='/login'>Login</a></li>
        {%- else -%}
            {%- if accessLevel == 'admin' -%}
            <li><a href="/admin">Admin</a></li>
            {%- endif -%}
            <li><a href='/user/dashboard'>Dashboard</a></li>
            <li><a href='/user/profile'>Profile</a></li>
            <li>
                <form method="POST" action="/forms/logout">
                    <input type="submit" name="submit" value="Logout"/>
                </form>
            </li>
        {%- endif -%}
            {#<li>
                <form method="POST" action="/forms/choose-language">
                    <select id="language" name="language" aria-label="Choose language">
                        <option value="en" {%- if currentLanguage == 'en' -%}selected{%- endif -%}>English</option>
                        {%- if isAdminPage == false or isAdminPage == undefined -%}
                        <option value="fr" {%- if currentLanguage == 'fr' -%}selected{%- endif -%}>Français</option>
                        {%- endif -%}
                    </select>
                    <input aria-label="Save language choice" type="submit" name="submit" value="Set"/>
                </form>
            </li>#}
        </ul>
    </nav>
    
</header>

{%- block nav -%}
{%- endblock -%}

{%- block content -%}
{%- endblock -%}

<footer>
<span>© 2019 <a href="https://daisy.org">DAISY Consortium</a></span>
</footer>

<script type="text/javascript">

    window.addEventListener("DOMContentLoaded", () => {
        const params = new URLSearchParams(window.location.search);  
        if (params.has("message")) {
            showMessage(params.get("message"));
        }
    });
    function showMessage(messageText) {
        let message = document.createElement("p");
        message.classList.add("message");
        message.textContent = messageText;
        let parent = document.querySelector("main");
        parent.prepend(message);
    }
  
</script>

{%- endblock -%}
