{%- macro AnswerSet(answerSet, topicName = '') -%}

<h2 id="{{answerSet.id}}">Results for {{topicName}}</h2>
<p>Tested with test book 
    <a href="/books/{{answerSet.testBook.filename}}">
        <em class="title">{{answerSet.testBook.title}}, version {{answerSet.testBook.version}}</em>
    </a>
</p>

{%- if answerSet.summary != "" -%}<p class="limit spaced"><b>Summary</b>: {{answerSet.summary}}</p>{%-endif-%}

<table class="striped">
    <thead>
        <tr>
            <td>Test ID</td>
            <td>Name</td>
            <td>Description</td>
            <td>Result</td>
            <td>Notes</td>
        </tr>
    </thead>
    <tbody>
        {%- for answer in answerSet.answersByAnswerSetId.nodes -%}
        <tr>
            <td>{{answer.test.testId}}</td>
            <td>{{answer.test.name}}</td>
            <td>{{answer.test.description}}</td>
            <td>
                {%- if answer.value == "PASS" -%}
                    Pass
                {%-elif answer.value=="FAIL"-%}
                    Fail
                {%-elif answer.value=="NA"-%}
                    Not applicable
                {%-elif answer.value=="NOANSWER"-%}
                    No answer
                {%-endif-%}
            </td>
            <td>{%- if answer.notesArePublic -%} {{answer.notes}} {%- endif -%}</td>
        </tr>
        {%- endfor -%}
    </tbody>
</table>

{%- endmacro -%}