{%- macro FormatScore(answerSet) -%}
{%-if answerSet.isTested-%}
<span class="score">{{answerSet.score | round(2)}}%</span>
{%- else -%}
<span class="score not-tested">Not tested</span>
{%- endif -%}
{%- endmacro -%}