{%- macro SoftwareName (sw, includeVendor = false) -%}
{%- if sw -%}
    {%- if includeVendor -%}
        {%- if sw.vendor -%}
        {{ sw.vendor }}&nbsp;
        {%- endif -%}
    {%- endif -%}
    {%- if sw.name -%}
    {{ sw.name }}&nbsp;
    {%- endif -%}
    {%- if sw.version -%}
    {{ sw.version }}
    {%- endif -%}
{%- endif -%}
{%- endmacro -%}