<ul>
    <li><a href="/admin/all-software/reading-system">Reading Systems</a></li>
    <li><a href="/admin/all-software/assistive-technology">Assistive Technologies</a></li>
    <li><a href="/admin/all-software/os">Operating Systems</a></li>
    <li><a href="/admin/all-software/browser">Browsers</a></li>
    <li><a href="/admin/all-software/device">Devices</a></li>
</ul>