{%- macro TestingEnvironmentDetails(testingEnvironment) -%}
{%- set rs = testingEnvironment.readingSystem -%}
{%- set at = testingEnvironment.assistiveTechnology -%}
{%- set os = testingEnvironment.os -%}
{%- set dev = testingEnvironment.device -%}
{%- set brw = testingEnvironment.browser -%}

<ul>
    {%- if at.name -%}
    <li>
        <b>Assistive Technology</b>: &nbsp;
        {%- if at.name -%}
            {%- if at.vendor -%}
            {{ at.vendor }}&nbsp;
            {%- endif -%}
            
            {{ at.name }}&nbsp;
            
            {%- if at.version -%}
            {{ at.version }}
            {%- endif -%},&nbsp;
        {%- endif -%}
        {%- if dev -%}
        {%- if dev.vendor -%}
        {{ dev.vendor }}&nbsp;
        {%- endif -%}
        {%- if dev.name -%}
        {{ dev.name }}&nbsp;
        {%- endif -%}
        {%- if dev.version -%}
        {{ dev.version }}
        {%- endif -%}
        {%- endif -%}
    </li>
    {%- endif -%}
    <li>
        <b>OS</b>: &nbsp;
        {%- if os.vendor -%}
        {{ os.vendor }}&nbsp;
        {%- endif -%}
        {%- if os.name -%}
        {{ os.name }}&nbsp;
        {%- endif -%}
        {%- if os.version -%}
        {{ os.version }}
        {%- endif -%}
    </li>
    {%- if brw -%}
    <li>
        <b>Browser</b>: &nbsp;
        {%- if brw.vendor -%}
        {{ brw.vendor }}&nbsp;
        {%- endif -%}
        {%- if brw.name -%}
        {{ brw.name }}&nbsp;
        {%- endif -%}
        {%- if brw.version -%}
        {{ brw.version }}
        {%- endif -%}
    </li>
    {%- endif -%}

</ul>
<ul>

    <li>
        <b>Tested with Braille</b>:&nbsp;
        {%- if testingEnvironment.testedWithBraille -%}Yes{%-else-%}No{%-endif-%}
    </li>
    <li>
        <b>Tested with Screenreader</b>:&nbsp;
        {%- if testingEnvironment.testedWithScreenreader -%}Yes{%-else-%}No{%-endif-%}
    </li>
    <li>
        <b>Input type</b>:&nbsp;
        {%- if testingEnvironment.input == 'KEYBOARD' -%} Keyboard
        {%- elif testingEnvironment.input == 'MOUSE' -%} Mouse
        {%- elif testingEnvironment.input == 'TOUCH' -%} Touch
        {%-endif-%}
    </li>
</ul>
{%- endmacro -%}