{%- macro TestingEnvironmentList(testingEnvironments) -%}
    <ul>    
        {%- for testingEnvironment in testingEnvironments -%}
        {%- set rs = testingEnvironment.readingSystem -%}
        <li>
            <a href="#{{testingEnvironment.id}}">{{ SoftwareTitlePlusVendor (rs.name, rs.version, rs.vendor )}}</a>
            {{ TestingEnvironmentDetails (testingEnvironment) }}
        </li>
        {%- endfor -%}
    </ul>
{%- endmacro -%}

{%- macro TestingEnvironmentTitle(testingEnvironment, tagname) -%}
    {%- set rs = testingEnvironment.readingSystem -%}
    <{{tagname}} id="{{testingEnvironment.id}}">{{ SoftwareTitlePlusVendor (rs.name, rs.version, rs.vendor) }}</{{tagname}}>
    {{ TestingEnvironmentDetails (testingEnvironment) }}
{%- endmacro -%}

{%- macro TestingEnvironmentOneLiner(testingEnvironment) -%}
{%- set rs = testingEnvironment.readingSystem -%}
{%- set at = testingEnvironment.assistiveTechnology -%}
{%- set os = testingEnvironment.os -%}
{%- set dev = testingEnvironment.device -%}
{%- set brw = testingEnvironment.browser -%}
{{SoftwareTitleSpan(rs)}}
{%- if at -%}
, {{SoftwareTitleSpan(at)}}
{%- endif -%}
{%- if os -%}
, {{SoftwareTitleSpan(os)}}
{%- endif -%}
{%- if brw -%}
, {{SoftwareTitleSpan(brw)}}
{%- endif -%}
{%- if dev -%}
, {{SoftwareTitleSpan(dev)}}
{%- endif -%}

{%- endmacro -%}

{%- macro TestingEnvironmentOneLinerPlainText(testingEnvironment) -%}
{%- set rs = testingEnvironment.readingSystem -%}
{%- set at = testingEnvironment.assistiveTechnology -%}
{%- set os = testingEnvironment.os -%}
{%- set dev = testingEnvironment.device -%}
{%- set brw = testingEnvironment.browser -%}
{{SoftwareTitle(rs)}}
{%- if at -%}
, {{SoftwareTitle(at)}}
{%- endif -%}
{%- if os -%}
, {{SoftwareTitle(os)}}
{%- endif -%}
{%- if brw -%}
, {{SoftwareTitle(brw)}}
{%- endif -%}
{%- if dev -%}
, {{SoftwareTitle(dev)}}
{%- endif -%}

{%- endmacro -%}


{%- macro TestingEnvironmentDetails(testingEnvironment) -%}
{%- set rs = testingEnvironment.readingSystem -%}
{%- set at = testingEnvironment.assistiveTechnology -%}
{%- set os = testingEnvironment.os -%}
{%- set dev = testingEnvironment.device -%}
{%- set brw = testingEnvironment.browser -%}

    
    <ul class="details">
        {%- if at.name -%}
        <li>{{ SoftwareTitle (at) }}</li>
        {%- endif -%}
        {%- if dev -%}
        <li>{{ SoftwareTitle (dev) }}</li>
        {%- endif -%}
        <li>{{ SoftwareTitle (os) }}</li>
        {%- if brw -%}
        <li>{{ SoftwareTitle (brw) }}</li>
        {%- endif -%}
    </ul>

{%- endmacro -%}

{%- macro SoftwareTitleSpan(software) -%}
    {%- if software -%}
    <span>{{SoftwareTitle(software)}}</span>
    {%- endif -%}
{%- endmacro -%}

{%- macro SoftwareTitle(software) -%}
    {%- if software.name -%}
        {{software.name}}
        {%- if software.version -%}
            &nbsp;{{software.version}}
        {%- endif -%}
    {%- endif -%}    
{%- endmacro -%}

{%- macro SoftwareTitlePlusVendor(name, version, vendor) -%}
    {%- if name -%}
        {{name}} 
        {%- if version -%}
            &nbsp;{{version}}
        {%- endif -%}
        {%- if vendor -%}
        &nbsp;by {{vendor}}
        {%- endif -%}
    {%- endif -%}    
{%- endmacro -%}
