{%- import "components/software-name.njk" as softwareName -%}


{%- macro TestingEnvironmentTitle(testingEnvironment, tagname1, tagname2) -%}
    {%- set rs = testingEnvironment.readingSystem -%}
    <{{tagname1}} id="{{testingEnvironment.id}}">{{ SoftwareTitle (rs) }}</{{tagname1}}>
    <{{tagname2}}>by {{ rs.vendor }}</{{tagname2}}>
{%- endmacro -%}

{%- macro TestingEnvironmentOneLinerPlainText(testingEnvironment) -%}
{%- set rs = testingEnvironment.readingSystem -%}
{%- set at = testingEnvironment.assistiveTechnology -%}
{%- set os = testingEnvironment.os -%}
{%- set dev = testingEnvironment.device -%}
{%- set brw = testingEnvironment.browser -%}
{{SoftwareTitle(rs)}}
{%- if at -%}
, {{SoftwareTitle(at)}}
{%- endif -%}
{%- if os -%}
, {{SoftwareTitle(os)}}
{%- endif -%}
{%- if brw -%}
, {{SoftwareTitle(brw)}}
{%- endif -%}
{%- if dev -%}
, {{SoftwareTitle(dev)}}
{%- endif -%}

{%- endmacro -%}

{%- macro SoftwareTitle(software) -%}
    {%- if software.name -%}
        {{software.name}}
        {%- if software.version -%}
            &nbsp;{{software.version}}
        {%- endif -%}
    {%- endif -%}    
{%- endmacro -%}

