{%- import "components/software-name.njk" as softwareName -%}
{%- macro TestingEnvironmentDetails(testingEnvironment, compact = false) -%}
{%- set rs = testingEnvironment.readingSystem -%}
{%- set at = testingEnvironment.assistiveTechnology -%}
{%- set os = testingEnvironment.os -%}
{%- set dev = testingEnvironment.device -%}
{%- set brw = testingEnvironment.browser -%}

<ul class="detailslist {% if compact %}compact{%-endif-%}">
    {%- if at.name -%}
    <li>
        <span>Assistive Technology: </span>
        {%- if at and dev -%}
        <ul>
            <li>{{softwareName.SoftwareName(at)}}</li>
            <li>{{softwareName.SoftwareName(dev)}}</li>
        </ul>
        {%- elif at -%}
        <span>{{softwareName.SoftwareName(at)}}</span>
        {%- elif dev -%}
        <span>{{softwareName.SoftwareName(dev)}}</span>
        {%- else -%}
        <span>None</span>
        {%- endif -%}
    </li>
    {%- endif -%}
    <li>
        <span>OS: </span>
        <span>{{softwareName.SoftwareName(os)}}</span>
    </li>
        
    {%- if brw -%}
    <li>
        <span>Browser: </span>
        <span>{{softwareName.SoftwareName(brw)}}</span>
    </li>
    {%- endif -%}

</ul>
{%- if compact == false -%}
<ul class="detailslist">

    <li>
        <span>Tested with Braille: </span>
        <span>{%- if testingEnvironment.testedWithBraille -%}Yes{%-else-%}No{%-endif-%}</span>
    </li>
    <li>
        <span>Tested with Screenreader: </span>
        <span>{%- if testingEnvironment.testedWithScreenreader -%}Yes{%-else-%}No{%-endif-%}</span>
    </li>
    <li>
        <span>Input type: </span>
        <span>
        {%- if testingEnvironment.input == 'KEYBOARD' -%} Keyboard
        {%- elif testingEnvironment.input == 'MOUSE' -%} Mouse
        {%- elif testingEnvironment.input == 'TOUCH' -%} Touch
        {%-endif-%}
        </span>
    </li>
</ul>
{%- endif -%}
{%- endmacro -%}
