{%- import "components/software-name.njk" as softwareName -%}


{%- macro TestingEnvironmentTitle(testingEnvironment, tagname1, tagname2) -%}
    {%- set rs = testingEnvironment.readingSystem -%}
    <div class="testing-environment-title">
        <{{tagname1}} id="{{testingEnvironment.id}}">{{ SoftwareTitle (rs) }}</{{tagname1}}><{{tagname2}}>by {{ rs.vendor }}</{{tagname2}}>
    </div>
{%- endmacro -%}


{%- macro TestingEnvironmentLink(testingEnvironment) -%}
    <a href="/results/{{testingEnvironment.id}}">
        <span class="sw readingSystem">
            <span class="name">{{testingEnvironment.readingSystem.name}}</span>
            <span class="version">{{testingEnvironment.readingSystem.version}}</span>
            {# <span class="vendor">{{testingEnvironment.readingSystem.vendor}}</span> #}
        </span>
        
        {%- if testingEnvironment.assistiveTechnology -%}
        <span class="sw assistiveTechnology">
            <span class="name">{{testingEnvironment.assistiveTechnology.name}}</span> 
            <span class="version">{{testingEnvironment.assistiveTechnology.version}}</span>
        </span>
        {%- endif -%}
        {%- if testingEnvironment.browser -%}
        <span class="sw browser">
            <span class="name">{{testingEnvironment.browser.name}}</span> 
            <span class="version">{{testingEnvironment.browser.version}}</span>
        </span>
        {%- endif -%}
        <span class="sw os">
            <span class="name">{{testingEnvironment.os.name}}</span>
            <span class="version">{{testingEnvironment.os.version}}</span>
        </span>
    </a>
{%- endmacro -%}

{%- macro TestingEnvironmentInline(testingEnvironment) -%}
    {%- set rs = testingEnvironment.readingSystem -%}
    {%- set at = testingEnvironment.assistiveTechnology -%}
    {%- set os = testingEnvironment.os -%}
    {%- set dev = testingEnvironment.device -%}
    {%- set brw = testingEnvironment.browser -%}
    <span>{{SoftwareTitle(rs)}}</span>
    <span>
    {%- if at and at.name -%}
    with {{SoftwareTitle(at)}}
    {%- endif -%}
    {%- if dev and dev.name -%}
        {%- if at and at.name -%}
        ,&nbsp;
        {%- else -%}
        with
        {%-endif -%}
        {{SoftwareTitle(dev)}}
    {%- endif -%}
    </span>
    <span>
    {%- if os -%}
    running on {{SoftwareTitle(os)}}
    {%- endif -%}
    {%- if brw and brw.name -%}
    and {{SoftwareTitle(brw)}}
    {%- endif -%}
    </span>
{%- endmacro -%}


{%- macro TestingEnvironmentOneLinerPlainText(testingEnvironment) -%}
    {%- set rs = testingEnvironment.readingSystem -%}
    {%- set at = testingEnvironment.assistiveTechnology -%}
    {%- set os = testingEnvironment.os -%}
    {%- set dev = testingEnvironment.device -%}
    {%- set brw = testingEnvironment.browser -%}
    {{SoftwareTitle(rs)}}
    {%- if at and at.name -%}
    , {{SoftwareTitle(at)}}
    {%- endif -%}
    {%- if os -%}
    , {{SoftwareTitle(os)}}
    {%- endif -%}
    {%- if brw and brw.name -%}
    , {{SoftwareTitle(brw)}}
    {%- endif -%}
    {%- if dev and dev.name -%}
    , {{SoftwareTitle(dev)}}
    {%- endif -%}
{%- endmacro -%}

{%- macro SoftwareTitle(software) -%}
    {%- if software.name -%}
        {{software.name}}
        {%- if software.version -%}
            &nbsp;{{software.version}}
        {%- endif -%}
    {%- endif -%}    
{%- endmacro -%}

