{%- macro TestingEnvironmentList(testingEnvironments) -%}
    <ul>    
        {%- for testingEnvironment in testingEnvironments -%}
        {%- set rs = testingEnvironment.readingSystem -%}
        <li>
            <a href="#{{testingEnvironment.id}}">{{ SoftwareTitlePlusVendor (rs.name, rs.version, rs.vendor )}}</a>
            {{ TestingEnvironmentDetails (testingEnvironment) }}
        </li>
        {%- endfor -%}
    </ul>
{%- endmacro -%}

{%- macro TestingEnvironmentTitle(testingEnvironment, tagname) -%}
    {%- set rs = testingEnvironment.readingSystem -%}
    <{{tagname}} id="{{testingEnvironment.id}}">{{ SoftwareTitlePlusVendor (rs.name, rs.version, rs.vendor) }}</{{tagname}}>
    {{ TestingEnvironmentDetails (testingEnvironment) }}

{%- endmacro -%}

{%- macro TestingEnvironmentDetails(testingEnvironment) -%}
{%- set rs = testingEnvironment.readingSystem -%}
{%- set at = testingEnvironment.assistiveTechnology -%}
{%- set os = testingEnvironment.os -%}
{%- set dev = testingEnvironment.device -%}
{%- set brw = testingEnvironment.browser -%}

    
    <ul class="details">
        {%- if at.name -%}
        <li>{{ SoftwareTitle (at.name, at.version) }}</li>
        {%- endif -%}
        {%- if dev -%}
        <li>{{ SoftwareTitle (dev.name, dev.version) }}</li>
        {%- endif -%}
        <li>{{ SoftwareTitle (os.name, os.version) }}</li>
        {%- if brw -%}
        <li>{{ SoftwareTitle (brw.name, brw.version) }}</li>
        {%- endif -%}
    </ul>

{%- endmacro -%}


{%- macro SoftwareTitle(name, version) -%}
    {%- if name -%}
        {{name}} 
        {%- if version -%}
            &nbsp;{{version}}
        {%- endif -%}
    {%- endif -%}    
{%- endmacro -%}

{%- macro SoftwareTitlePlusVendor(name, version, vendor) -%}
    {%- if name -%}
        {{name}} 
        {%- if version -%}
            &nbsp;{{version}}
        {%- endif -%}
        {%- if vendor -%}
        &nbsp;by {{vendor}}
        {%- endif -%}
    {%- endif -%}    
{%- endmacro -%}
