{%- macro TopicName(topicId) -%}
    {%- if topicId == "basic-functionality" -%}
    Basic Functionality
    {%- elif topicId == "visual-adjustments" -%}
    Visual Adjustments
    {%- elif topicId == "non-visual-reading" -%}
    Non-visual Reading
    {%- elif topicId == "read-aloud" -%}
    Read Aloud
    {%- elif topicId == "media-overlays" -%}
    Media Overlays
    {%- elif topicId == "extended-descriptions" -%}
    Extended Descriptions
    {%- elif topicId == "math" -%}
    Mathematics
    {%- endif -%}

{%- endmacro -%}

 