{%- extends 'base/base.njk' -%}
{%- set title = "About" -%}
{%- block content -%}

<main class="center">
    <div>
        <h2>About</h2>
        <p>A reading system, which could be an app or hardware device, is needed to read EPUB titles. Both titles and readers can vary in their features and functionality. When it comes to persons with disabilities, which apps will enable them to excel at their studies, or provide a great reading experience when enjoying the latest novel?</p>
        <p>Our accessibility evaluations are intended to answer these questions. The tests we use are developed by and with people with reading disabilities. They include consideration of various aspects that are important to different people with different needs.</p>
        <p>The summary and detailed test results are published online. This helps developers to improve their products, and consumers and institutional purchasers to select the solutions that meet their needs.</p>
        <p>The evaluations are conducted by volunteers and accessibility experts, including over 60 people from around the globe. We'd love for you to join us!</p>
    </div>
    <a href="https://daisy.org" style="align-self: center">
        <img src="/images/daisylogo.png" alt="DAISY Consortium logo"></img>
    </a>
</main>

{%- endblock -%}