{%- extends 'base/base.njk' -%}
{%- block content -%}

<main>
    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <form method="POST" action="{{formAction}}">
        <input type="hidden" name="nextIfYes" value="{{nextIfYes}}"/>
        <input type="hidden" name="nextIfNo" value="{{nextIfNo}}"/>
        <input type="submit" name="no" value="No"/>
        <input type="submit" name="yes" value="Yes"/>
    </form>
</main>

{%- endblock -%}