{%- extends 'base/base.njk' -%}
{%- set title = "Cookie Policy" -%}
{%- block content -%}

<main class="center">
    <h2>Cookie Policy</h2>
    <p>Visitors to this site may choose to accept cookies to collect and analyze site usage. Epubtest.org uses <a href="https://analytics.google.com/analytics/web/#/">Google Analytics</a> for these purposes.</p>
    <p>By logging in, the user consents to the use of session cookies in order to begin their session. If a user wishes to end a session, they may simply log out.</p>
</main>

{%- endblock -%}