{%- extends 'base/base.njk' -%}
{%- import "components/testing-environment-labels.njk" as testingEnvironmentLabels -%}
{%- import "components/testing-environment-details.njk" as testingEnvironmentDetails -%}
{%- import "components/software-name.njk" as softwareName -%}
{%- import "components/format-score.njk" as formatScore -%}
{%- import "components/topic-names.njk" as topicNames -%}
{%- set title = "Dashboard" -%}
{%- block content -%}
<main>
<h2>Dashboard</h2>
{%- if testingEnvironments.length == 0 -%}
<p>Looks like you don't have any tasks assigned yet - check back soon!</p>
{%- else -%}
<p>Your dashboard shows what you've been assigned to work on.</p>

{%- if accessLevel == 'admin' -%}
<p>You may directly publish or unpublish your own answer sets from this page because you are an administrator (regular users have "request to publish" buttons instead).</p>
{%- endif -%}
    
{%- for testingEnvironment in testingEnvironments -%}
    {{ testingEnvironmentLabels.TestingEnvironmentTitle (testingEnvironment, 'h3', 'p') }}
    {%- if testingEnvironment.isArchived -%}
    <p class="archived">This testing environment has been archived.</p>
    {%- endif -%}
    {{ testingEnvironmentDetails.TestingEnvironmentDetails(testingEnvironment) }}
    {{ TestingEnvironmentTable(testingEnvironment)}}
{%- endfor -%}
{%- endif -%}
</main>

{%- endblock -%}

{%- block nav -%}
{%- if testingEnvironments.length != 0 -%}
<nav aria-labelled-by="navlabel" class="secondary-nav">
    <h2 id="navlabel">Testing environments</h2>
    <ul>    
        {%- for testingEnvironment in testingEnvironments -%}
        {%- set rs = testingEnvironment.readingSystem -%}
        <li>
            <a href="#{{testingEnvironment.id}}">{{ softwareName.SoftwareName (rs)}}</a>
            {{ testingEnvironmentDetails.TestingEnvironmentDetails (testingEnvironment, true) }}
        </li>
        {%- endfor -%}
    </ul>
</nav>
{%- endif -%}
{%- endblock -%}

{%- macro TestingEnvironmentTable(testingEnvironment) -%}
<div role="region" aria-labelledby="table-caption-{{testingEnvironment.id}}" tabindex="0">
    <table aria-live="polite" aria-colcount="4" aria-rowcount="{{testingEnvironment.answerSets.length}}">
        <caption id="table-caption-{{testingEnvironment.id}}">
        Topics tested for {{testingEnvironmentLabels.TestingEnvironmentOneLinerPlainText(testingEnvironment)}}
        </caption>
        <thead>
            <th>Topic</th>
            <th>Score</th>
            <th>Edit</th>
            <th>Publish</th>
        </thead>
        <tbody>
            {%- for answerSet in testingEnvironment.answerSets -%}
            <tr>
                <td>{{topicNames.TopicName(answerSet.testBook.topic.id)}}</td>
                <td>{{formatScore.FormatScore(answerSet.score)}}</td>
                <td><a href="/user/edit-results/{{answerSet.id}}">Edit</a></td>
                <td>
                {%- if isAdmin -%}
                    {%- if answerSet.isPublic -%}
                    <div>
                        <span>Published</span>
                        <form method="POST" action="/admin/forms/unpublish">
                            <input type="hidden" name="next" value="/user/dashboard">
                            <input type="hidden" name="testingEnvironmentId" value="{{testingEnvironment.id}}">
                            <input type="hidden" name="answerSetId" value="{{answerSet.id}}">
                            <input type="submit" name="submit" value="Unpublish">
                        </form>
                    </div>
                    {%- else -%}
                    <div>
                        <span>Unpublished</span>
                        <form method="POST" action="/admin/forms/publish">
                            <input type="hidden" name="next" value="/user/dashboard">
                            <input type="hidden" name="testingEnvironmentId" value="{{testingEnvironment.id}}">
                            <input type="hidden" name="answerSetId" value="{{answerSet.id}}">
                            <input type="submit" name="submit" value="Publish">
                        </form>
                    </div>
                    {%- endif -%}
                {%- else -%}
                    {%- if answerSet.isPublic -%}
                    <a href="/results/{{testingEnvironment.id}}#{{answerSet.testBook.topic.id}}">Published</a>
                    {%- else -%}
                        {%- if getRequestToPublish(answerSet.id) -%}
                        <span>Request pending</span>
                        {%- else -%}
                        <form method="POST" action="/user/forms/request-to-publish">
                            <input type="hidden" name="answerSetId" value="{{answerSet.id}}"/>
                            <input type="submit" name="submit" value="Request to publish"/>
                        </form>
                        {%- endif -%}
                    {%- endif -%}
                {%- endif -%}
            </tr>
            {%- endfor -%}
        </tbody>
    </table>
</div>

{%- endmacro -%}