{%- extends 'base/base.html' -%}
{%- set title = "Dashboard" -%}
{%- block content -%}

<h1>Dashboard</h1>
<p>Your dashboard shows what you've been working on.</p>

<div class="split">
    <nav class="side" aria-labelled-by="testing-environments-title">
        <h2 id="testing-environments-title">Testing Environments</h2>
        <ul>
            {%- for testingEnvironment in testingEnvironments -%}
            <li><a href="#{{testingEnvironment.id}}"><span>{{testingEnvironment.readingSystem.name}} {{testingEnvironment.readingSystem.version}}</span>,
            <span>{{testingEnvironment.assistiveTechnology.name}} </span>,
            <span>{{testingEnvironment.os.name}} {{testingEnvironment.os.version}}</span></a></li>
            {%- endfor -%}
        </ul>
    </nav>
    <div class="content">
        {%- for testingEnvironment in testingEnvironments -%}
        <h2 id="{{testingEnvironment.id}}"><span>{{testingEnvironment.readingSystem.name}} {{testingEnvironment.readingSystem.version}}</span>,
            <span>{{testingEnvironment.assistiveTechnology.name}} </span>,
            <span>{{testingEnvironment.os.name}} {{testingEnvironment.os.version}}</span>
        </h2>

        <table class="striped">
            <thead>
                <tr>
                    <th>Topic</th>
                    {#<th>Status</th>#}
                    <th>Score</th>
                    <th>Edit</th>
                    <th>Publish</th>
                </tr>
            </thead>
            <tbody>
            {%- for answerSet in testingEnvironment.answerSetsByTestingEnvironmentId.nodes -%}
            <tr>
                <td>{{answerSet.testBook.topic.id}}</td>
                {#<td>Up to date</td>#}
                <td>{%-if answerSet.score -%}{{answerSet.score | round(1)}}{%- endif -%}</td>
                <td><a href="/user/edit-results/{{answerSet.id}}">Edit</td>
                <td>
                    {%- set requestToPublish=getRequestToPublish(answerSet.id) -%}
                    {%- if answerSet.isPublic -%}
                    <a href="/results/{{testingEnvironment.id}}">Published</a>

                    {%- elif requestToPublish != null -%}
                    <span>Request pending</span>
                    {%- else -%}
                    <form method="POST" action="/user/forms/request-to-publish">
                        <input type="hidden" name="answerSetId" value="{{answerSet.id}}"/>
                        <input type="submit" name="submit" value="Request to publish"/>
                    </form>
                    {%- endif -%}
                </td>
            </tr>
            {%- endfor -%}
            </tbody>
        </table>
        {%- endfor -%}
    </div>
</div>
{%- endblock -%}