{%- extends 'base/base.html' -%}
{%- import "components/testing-environment-title.html" as testingEnvironmentTitle -%}
{%- set title = "Dashboard" -%}
{%- block content -%}

<h1>Dashboard</h1>
{%- if testingEnvironments.length == 0 -%}
<p>Looks like you don't have any tasks assigned yet - check back soon!</p>
{%- else -%}
<p>Your dashboard shows what you've been assigned to work on.</p>

{%- if accessLevel == 'admin' -%}
<p>You may directly publish or unpublish your own answer sets from this page because you are an administrator (regular users have "request to publish" buttons instead).</p>
{%- endif -%}
    
{%- for testingEnvironment in testingEnvironments -%}
{{ testingEnvironmentTitle.TestingEnvironmentTitle (testingEnvironment, 'h2') }}

<table class="striped">
    <thead>
        <tr>
            <th>Topic</th>
            {#<th>Status</th>#}
            <th>Score</th>
            <th>Edit</th>
            <th>Publish</th>
        </tr>
    </thead>
    <tbody>
    {%- for answerSet in testingEnvironment.answerSets -%}
    <tr>
        <td>{{answerSet.testBook.topic.id}}</td>
        {#<td>Up to date</td>#}
        <td>{%-if answerSet.score -%}{{answerSet.score | round(1)}}{%- endif -%}</td>
        <td><a href="/user/edit-results/{{answerSet.id}}">Edit</td>
        {%- if accessLevel == 'admin' -%}
        <td>
            {%- if answerSet.isPublic -%}
            <span>Published</span>
            <form method="POST" action="/admin/forms/unpublish">
                <input type="hidden" name="next" value="/user/dashboard"></input>
                <input type="hidden" name="testingEnvironmentId" value="{{testingEnvironment.id}}"/>
                <input type="hidden" name="answerSetId" value="{{answerSet.id}}"/>
                <input type="submit" name="submit" value="Unpublish"/>
            </form>
            {%- else -%}
            <span>Unpublished</span>
            <form method="POST" action="/admin/forms/publish">
                <input type="hidden" name="next" value="/user/dashboard"></input>
                <input type="hidden" name="testingEnvironmentId" value="{{testingEnvironment.id}}"/>
                <input type="hidden" name="answerSetId" value="{{answerSet.id}}"/>
                <input type="submit" name="submit" value="Publish"/>
            </form>
            {%- endif -%}
        </td>
        {%- else -%}
        <td>
            {%- set requestToPublish=getRequestToPublish(answerSet.id) -%}
            {%- if answerSet.isPublic -%}
            <a href="/results/{{testingEnvironment.id}}">Published</a>

            {%- elif requestToPublish != null -%}
            <span>Request pending</span>
            {%- else -%}
            <form method="POST" action="/user/forms/request-to-publish">
                <input type="hidden" name="answerSetId" value="{{answerSet.id}}"/>
                <input type="submit" name="submit" value="Request to publish"/>
            </form>
            {%- endif -%}
        </td>
        {%- endif -%}
    </tr>
    {%- endfor -%}
    </tbody>
</table>
{%- endfor -%}
{%- endif -%}

{%- endblock -%}

{%- block nav -%}
{%- if testingEnvironments.length != 0 -%}
<nav aria-labelled-by="testing-environments-title">
    <h1 id="testing-environments-title">Testing Environments</h2>
    {{ testingEnvironmentTitle.TestingEnvironmentList(testingEnvironments) }}
</nav>
{%- endif -%}
{%- endblock -%}