{%- extends 'base/base.njk' -%}
{%- set title="Error" -%}
{%- block content -%}

<main>
    <style>
        #err {
            width: 80%;
            white-space: break-spaces;
            word-wrap: break-word;
        }
        #err em {
            font-size: larger;
            font-style: normal;
            display: block;
        }
    </style>
    <h2>Error</h2>
    <p>An error has occurred. Please try again.</p>

    {%- if error -%}
    <pre id="err">{{error.statusCode}}: {{error.message}}</pre>
    {%- endif -%}
    
</main>

{%- endblock -%}