{%- extends 'base/base.html' -%}
{%- set title="Request error" -%}
{%- block content -%}

<h1>Error</h1>
<p id="err"></div>
<p>An error has occurred. Please try again.</p>

<script type="text/javascript">

    window.addEventListener("DOMContentLoaded", () => {
        const params = new URLSearchParams(window.location.search);  
        let errorElm = document.querySelector("#err");
        let htmlStr =`
            ${params.has("code") ? 
                `<em>${params.get("code")}</em>` : ''}
            ${params.has("error") ? 
                `${params.get("error")}` : ''}
            `;
        errorElm.innerHTML = htmlStr;
    });
    
</script>

{%- endblock -%}