{%- extends 'base/base.njk' -%}
{%- set title="Error" -%}
{%- block content -%}

<main>
    <h2>Error</h2>
    <p>An error has occurred. Please try again.</p>

    <pre id="err"></pre>

    <script type="text/javascript">

        window.addEventListener("DOMContentLoaded", () => {
            const params = new URLSearchParams(window.location.search);  
            let errorElm = document.querySelector("#err");
            let codeStr = params.has("code") ? `${params.get("code")}\n` : '';
            let errorsStr = params.has("error") ? params.get("error") : '';
                
            let htmlStr =`${codeStr}${errorsStr}`;
            
            errorElm.innerHTML = htmlStr.trim();
        });
        
    </script>
</main>

{%- endblock -%}