{%- extends 'base/base.njk' -%}
{%- block content -%}

<main class="center">
    <style>
        .big {
            display: block;
            background-color: var(--softcomp);
            box-shadow: 0 0 5px darkgray;
            padding: 1rem;
            width: min-content;
            white-space: nowrap;
            line-height: 2; 
            border-bottom: none !important;  
            text-align: center !important;
            border-radius: 4px;
            font-size: larger;
        }
        main {
            gap: 4rem;
        }
        @media (max-width: 768px) {
            .big {
                white-space: normal;
            }
        }
    </style>
    <div>
        <p>
            Welcome to <em>epubtest.org</em>, the home for accessibility testing of e-reading experiences.
            This site can be used to find out how an e-reader performs with different
            features found in eBooks. </p>
        <p>The data here is continually collected from
            a large group of expert testers from all over the globe who volunteer their time,
            and testing is coordinated by the <a href="http://daisy.org">DAISY Consortium</a> and
            is <a href="/participate">open to participation.</a>
        </p>
    </div>
    <a class="big" href="/results" style="align-self: center;">View accessibility testing results</a>
    
</main>

{%- endblock -%}