{%- extends 'base/base.njk' -%}
{%- block content -%}

<main class="center">
    <style>
        .big {
            padding: 1rem;
            line-height: 2; 
            text-align: center !important;
            border-radius: 5px;
            border: thick solid var(--soft);
            text-decoration: none;
        }
        .big a {
            font-size: x-large;
            display: block;
            text-decoration: none;
        }
        .big a:hover {
            text-decoration: underline;
        }
        main {
            gap: 4rem;
        }
        @media (max-width: 768px) {
            .big {
                white-space: normal;
            }
        }
    </style>
    <div>
        <p>
            Welcome to <em>epubtest.org</em>, the home for accessibility testing of e-reading experiences.
            This site can be used to find out how an e-reader performs with different
            features found in eBooks. </p>
        <p>The data here is continually collected from
            a large group of expert testers from all over the globe who volunteer their time,
            and testing is coordinated by the <a href="https://daisy.org">DAISY Consortium</a> and
            is <a href="/participate">open to participation.</a>
        </p>
    </div>
    <div class="big">
        <a href="/results">View accessibility testing results</a>
    </div>
    <div class="sponsorship big">
        <a href="https://daisy.org/epubtestSponsor" style="font-size: 1.3rem;">Support our work</a>
        <p>If you find EPUBTest useful, please help us by donating to support its ongoing maintenance.</p>

        <script>
            let res = fetch('https://dl.daisy.org/tools/sponsorship.json')
            .then(res => {
                if (res.ok) {
                    return res.json();
                }
                else {
                    throw new Error('Something went wrong');
                }
            })
            .then(json => {
                let data = json['epubtest']['en'];
                updateSponsorshipMessage(data)
            })
            .catch(err => {
                //document.querySelector('.sponsorship').style['display'] = 'none';
            });
            
            function updateSponsorshipMessage(data) {
                if (data.active) {
                    document.querySelector('.sponsorship a').textContent = data.buttonText;
                    document.querySelector('.sponsorship a').setAttribute("href", data.url);
                    document.querySelector('.sponsorship p').textContent = data.messageText;
                }
                else {
                    document.querySelector('.sponsorship').style['display'] = 'none';
                }
            }
            
        </script>
    </div>    
</main>

{%- endblock -%}
