{%- extends 'base/base.njk' -%}
{%- set title="Participate" -%}

{%- block content -%}

<main class="with-sidebar">
    <style>
        p.note {
            font-style: italic;
            background-color: var(--softcomp);
            border-radius: 4px;
        }
        p.note::before {
            content: '👉 ';
            font-size: large;
        }

    </style>
    <div>
        <a href="#participate" class="skipnav">Skip navigation</a>
        <nav aria-labelledby="navlabel" class="secondary-nav">
            <h2 id="navlabel">Sections</h2>
            <ul>
                <li><a href="#becoming-a-contributor">Becoming a contributor</a>
                    <ul>
                        <li>
                            <a href="#for-testers">Testers</a>
                        </li>
                        <li>
                            <a href="#for-developers">Developers</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#testing">Testing</a>
                    <ul>
                        <li><a href="#performing-the-tests">Performing the tests</a></li>
                        <li><a href="#adding-summary-information">Adding summary information</a></li>
                        <li><a href="#editing-your-results">Editing your results</a></li>
                        <li><a href="#publishing-your-results">Publishing your results</a></li>
                        <li><a href="#sharing-early-results">Sharing early results</a></li>
                    </ul>
                </li>
                <li><a href="#maintaining-your-results">Maintaining your results</a></li>
                <li><a href="#policy">Reporting Policy</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <h2 id="participate">Participate</h2>
        <p>Welcome! We at the DAISY Consortium invite you to join us in testing the accessibility of digital reading systems, including apps and hardware devices. Your test results help developers to improve their products, and consumers and institutional purchasers to select most accessible solutions. Together we can change the world by making books and other publications accessible with eyes, ears, and fingers.</p>

        <div>
            <h3 id="becoming-a-contributor">Becoming a contributor</h3>
            <h4 id="for-testers">Testers</h4>
            <p>If you'd like to get involved, we welcome you to <a href="mailto:epubtest@daisy.org">contact us</a>. We will then send you an invitation to create an account on this site. Once you have received your invitation, just follow the instructions in the email to set up your account.</p>
            <h4 id="for-developers">Developers</h4>
            <p>If you are the developer of an EPUB reading app, then we encourage you to download the test books and evaluate your app. If you need any guidance, or would like to discuss test results we have published, then we welcome you to <a href="mailto:epubtest@daisy.org">contact us</a>. We love to collaborate with developers to help improve accessibility for everyone.</p>
        </div>
            
        <div>
            <h3 id="testing">Testing</h3>

            <h4 id="performing-the-tests">Performing the tests</h4>
            
            <p>After you login, go to your <span class="cmd">dashboard</span>. There, you'll find your assignments, organized by <span class="cmd">testing environment</span>. </p>

            <p class="note">A <em>testing environment</em> is the combination of software used to evaluate a reading experience. It usually consists of a reading system, some assistive technology, and an operating system. It may also include a browser.</p>
            
            <p>If you don't have any assignments on your dashboard, it means our administrators are still setting up your testing, so please check back later. As soon as you have items listed on your dashboard, you can start testing.</p>
            
            <p>To enter results, choose a testing environment on your dashboard, and choose a topic from its table. Then select <span class="cmd">Edit</span> to go to the results editing page for that topic.</p>

            <p>This will bring you to the testing page. There, you will see a link to download the <span class="cmd">test book</span> itself (the EPUB file). Download the book and open it in the reading system that you're testing.</p>

            <p class="note">A <span class="cmd">test book</span> is a custom EPUB containing the tests for a topic. For example, there are test books for Visual Adjustments, Media Overlays, and many more reading system testing topics. Using a consistent set of test books increases the accuracy of the testing experience report.</p>

            <p>For each test in the book, there is a corresponding row on the testing page form. Follow the instructions in the book and record an answer for each test.</p>

            <p>Press <span class="cmd">Save</span> when you're done, or when you want to pause testing for now. You can return later to finish.</p>
                
            <h4 id="adding-summary-information">Adding summary information</h4>
            
            <p>Once you have performed the tests from a book for a testing environment, you may add some summary notes about your experience in the summary field on the testing page. This summary will become part of your results when they're published.</p>

            <p>You may also enter notes for each test, and choose on a per-note basis whether they should be published when the results go live.</p>
            
            <h4 id="editing-your-results">Editing your results</h4>
            
            <p>You may go back at any time and edit your answers, summaries, or notes.</p>
            
            <h4 id="publishing-your-results">Publishing your results</h4>
            
            <p>Results are not public until they have been published. Then they appear on the main <a href="/results">results page</a>.</p>

            <p>To publish your results, go to your dashboard, find the results (listed per test book), and choose the <span class="cmd">request to publish</span> option. Our administrators will review and approve your request shortly.</p>

            <h4 id="sharing-early-results">Sharing early results</h4>

            <p>You may generate a private link to share your results before they have been published. From your dashboard, find the results you want to share and select <span class="cmd">Generate private link</span>. On the next page, the link that you may use for sharing the results will appear.</p>
            
        </div>

        <div>
            <h3 id="maintaining-your-results">Maintaining your results</h3>
            
            <p>From time to time, the tests are updated to fix bugs or expand the number of tests. When this happens, you will see in your dashboard what needs attention.</p>

            <p>In the time between the tests being updated and you updating your results for those tests, your score for the previous tests will remain visible on the main page, with an indication that it is not for the most current set of tests.</p>
        </div>
        <div>
            <h3 id="policy">Reporting Policy</h3>
            <p>To learn more about our process, please read our <a href="/policy">Reading System Public Reporting Policy</a>.
        </div>
    </div>
    
</main>

{% endblock %}

