{%- extends 'base/base.njk' -%}
{%- set title="Reading System Public Reporting Policy" -%}
{%- block content -%}

<main>
    <h2>Reading System Public Reporting Policy</h2>
    <p>Last updated: April 27, 2021</p>
    <h3>Goals</h3>
    <p>The Reading System testing working group wants to:</p>
    <ul>
        <li>Accurately report the accessibility of Reading Systems and Apps to the public,</li>
        <li>Be as objective as possible (acknowledging there are cases where subjectivity is in play),</li>
        <li>Develop a good working relationship with developers,</li>
        <li>Report issues and opportunities to developers,</li>
        <li>Give the RS developer opportunities to inform about inaccuracies in evaluation results,</li>
        <li>Give the RS developer opportunities to improve the accessibility of the App,</li>
        <li>Point out where the Assistive Technology (rather than the App) is deficient.</li>
    </ul>
    <h3>Policy</h3>
    <p>The Reading System Testing Working Group will reach out to Reading System developers to let them know of our intention to test their App for accessibility, and to build a constructive working relationship.  We will provide dated evaluation reports to the RS developers and will wait to publish the evaluation results for up to 30 days, which provides the opportunity for questions, feedback, or corrections from the RS developer. If there is an imminent update to the app that will change the evaluation results, then we may delay publication to allow for retesting. When we publish the evaluation results on epubtest.org, we may include a note approved by the RS developer concerning their development plans.</p>
    <p>We applaud the approach of the practice of some developers, which is to document known accessibility issues and publish an accessibility roadmap with target dates for fixes. In these cases, we may include a link to the relevant part of the RS developer’s website.</p>
    <p>In all cases, the Reading System testing working group welcomes interaction and participation with Reading App developers towards our shared goal of ensuring equal access to digital publications for people with disabilities.</p>
</main>
{%- endblock -%}