{%- extends 'base/base.html' -%}
{%- import "components/answer-set.html" as answerSetComponent -%}
{%- import "components/testing-environment-details.html" as testingEnvironmentDetails -%}
{%- import "components/software-name.html" as softwareName -%}
{%- block content -%}

    <h1>
        {{ softwareName.SoftwareName(testingEnvironment.readingSystem) }}
    </h1>
    <div class="twocol spaced">
        {{ testingEnvironmentDetails.TestingEnvironmentDetails(testingEnvironment) }}
    </div>
    
    {%- for answerSet in testingEnvironment.answerSetsByTestingEnvironmentId.nodes -%}
    {{ answerSetComponent.AnswerSet(answerSet) }}
    {%- endfor -%}
    
{%- endblock -%}

{%- block nav -%}
<nav aria-labelled-by="topics-title">
    <h1 id="topics-title">Topics</h1>
    <ul>
        {%- for answerSet in testingEnvironment.answerSetsByTestingEnvironmentId.nodes -%}
        <li><a href="#{{answerSet.id}}">{{getTopicName(answerSet.testBook.topic.id)}}</a></li>
        {%- endfor -%}
    </ul>        
</nav>
{%- endblock -%}