{%- extends 'base/base.html' -%}
{%- set title="Test Books" -%}
{%- set mainclass="wide inset" -%}

{%- block content -%}

    <h1>Test books</h1>

    <p>Evaluations are completed with the same set of EPUB test books to ensure consistency. The test books are known to be accessible and free of errors. The different titles are described below, along with a link to download each.</p>
    
    <table class="wide striped">
        <thead>
            <tr>
                <th>Topic</th>
                <th>Title</th>
                <th>Description</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            {%- for testBook in testBooks -%}
            <tr>
                <td>{{getTopicName(testBook.topicId)}}</td>
                <td>{{testBook.title}}</td>
                <td>{{testBook.description}}</td>
                <td><a href="/books/{{testBook.filename}}" title="{{testBook.title}}">Download</a></td>
            </tr>    
            {%- endfor -%}
        </tbody>
    </table>

{%- endblock -%}