{%- extends 'base/base.njk' -%}
{%- set title="Test Books" -%}
{%- import "components/topic-names.njk" as topicNames -%}

{%- block content -%}
<script type="module" src="/js/table.js"></script>
<script type="module">
    import { EnhancedTable } from '/js/table.js';
    
    window.addEventListener("load", () => {
        let tableElm = document.querySelector("table");
        let tableControlsElm = document.querySelector("#table-controls");
        let enhancedTable = new EnhancedTable(tableElm, tableControlsElm);
        enhancedTable.enableSearch();
    }); 
</script>
<main>
    <h2>Test books</h2>

    <p>Evaluations are completed with the same set of EPUB test books to ensure consistency. The test books are known to be accessible and free of errors. The different titles are described below, along with a link to download each.</p>
    
    <div id="table-controls" class="table-controls"></div>
    <div role="region" aria-labelledby="table-caption" tabindex="0">
        <table>
            <caption id="table-caption" class="visually-hidden">Test book descriptions and downloads</caption>
            <thead>
                <tr>
                    <th>Topic</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Version</th>
                    <th>Language</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
                {%- for testBook in testBooks -%}
                <tr>
                    <td>{{topicNames.TopicName(testBook.topicId)}}</td>
                    <td>{{testBook.title}}</td>
                    <td>{{testBook.description}}</td>
                    <td>{{testBook.version}}</td>
                    <td>{{testBook.langId}}</td>
                    <td>
                        <a href="/books/{{testBook.filename}}" title="{{testBook.title}}">Download</a>
                    </td>
                </tr>
                {%- endfor -%}
            </tbody>
        </table>
    </div>
</main>
    
{%- endblock -%}