{%- extends 'base/base.njk' -%}
{%- import "components/topic-names.njk" as topicNames -%}
{%- import "components/testing-environment-labels.njk" as testingEnvironmentLabels -%}
{%- import "components/breadcrumbs.njk" as breadcrumbs -%}
{%- set title="Test " + test.testId + " in " + topicNames.TopicName(testBook.topic.id) + "(" + testBook.version + ")" -%}

{%- block content -%}
<main>
    {{breadcrumbs.Breadcrumbs(crumbs)}}

    <p class="message" style="text-align: inherit;">Do not use this page for testing. 
        The test is shown below only for reference; additionally, EPUB resources such as styling and images may be absent.</p>
    <div class="test-excerpt">
    {{test.xhtml | safe}}
    </div>

    <p>This test is in the book <a href="/test-books/{{testBook.topic.id}}/{{testBook.version}}">{{testBook.title}} {{testBook.version}}</a>.
    {%- if testBook.isLatest == false -%}
    <span class="not-latest-testbook">This is not from the <a href="/test-books/{{testBook.topic.id}}">latest version</a> of this test book; the test may have changed.</span>
    {%- endif -%}
    </p>
    {%- if test.flag -%}
    <p class="latest-testbook">This test is new or changed from the previous revision.</p>
    {%- endif -%}
    <p>See <a href="/results/topic/{{testBook.topic.id}}/{{testBook.version}}/{{test.testId}}">how well Reading Systems performed</a> on this test.</p>
    
</main>

<script type="module">
    let testBlock = document.querySelector(".test-excerpt");

    // prevent the click events (links won't work)
    testBlock.addEventListener("click", e => {
        e.preventDefault();
    });

    
</script>
{%- endblock -%}