fieldset {
    border: none;
    padding: 0;
}
.data-table {
    display: grid;
    gap: 1rem;
}
.data-table > * {
    height: min-content;
}
.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-right: 20%;
}
.filters legend {
    visibility: hidden;
}
.filters label::after {
    content: ': ';
}

.filters label {
    font-size: smaller;
}

.column-selectors input[type=radio] {
    opacity: 0;
    position: fixed;
    width: 0;
}
.column-selectors label {
    border: thin gray solid;
    padding: 0.25rem;
    background-color: rgb(212, 212, 212);
    display: inline-block;
    white-space: nowrap;
    margin: 1px;
    border-radius: 4px;
    opacity: 60%;
}
.column-selectors input[type="radio"] + label:hover {
    border-color: var(--primary);
    background-color: rgba(212, 212, 212, 0.4);
}
.column-selectors input[type="radio"]:checked + label {
    background-color: var(--comp);
    border-color: var(--primary);
    text-decoration: underline;
    opacity: 100%;
}
table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
thead {
    border: 1px solid var(--primary);
    background: var(--hardcomp);
}

th, td {
    text-align: left;
    font-size: smaller;
    font-weight: normal;
    vertical-align: top;
    padding: 2vh;
}
th {
    vertical-align: middle;
    font-weight: bolder;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    background: var(--hardcomp);
  }
th:first-of-type, tr td:first-of-type {
    width: 10rem;
}
table a {
    display: block;
    padding-bottom: 1vh;
    color: var(--primary);
}
thead th.sortable {
    cursor: pointer;
}
thead th.sortable::after {
    color: gray;
}
thead th.sortable[aria-sort='ascending']::after {
    content: '▲';
}
thead th.sortable[aria-sort='descending']::after {
    content: '▼';
}
tbody tr:nth-child(even) {
    background-color: var(--softcomp);
}
table tr td:first-child span.sw {
    display: block;
}
.not-tested {
    font-weight: lighter;
    font-style: italic;
}
.readingSystem {
    font-size: larger;
}
.sw:not(.readingSystem) {
    padding-left: 0.5rem;
}
.sw {
    /* white-space: nowrap; */
}
/* hide the column selector buttons on the desktop */
@media(min-width: 769px) {
    .column-selectors {
        display: none;
    }
}
@media(max-width: 768px) {
    .filters {
        display: grid;
        gap: .5rem;
        padding-right: 0;
    }
    .filters label, .filters input {
        font-size: inherit;
    }
    .filters label {
        white-space: nowrap;
    }
    .filters div {
        display: grid;
        grid-template-columns: 40% 60%;
        gap: .5rem;
    }
    
    .filters button {
        width: min-content;
        padding: .25rem;
        justify-self: right;
    }
    .filters div label {
        justify-self: right;
    }    
    /* if there is only one filter, don't center it, it looks weird */
    .filters div:first-of-type:last-of-type {
        grid-template-columns: auto auto;
    }
    .filters div:first-of-type:last-of-type label{
        justify-self: left;
    }
}
