@import url("colors.css");

/* header detail */
header h1 {
    grid-column: 1;
    padding: 0;
    margin: 0;
}
header h1 a {
    text-decoration: none;
    color: black !important;
}

header nav {
    grid-column: 2;
    display: grid;
    grid-template-columns: 50% auto;
    align-items: center;
}

header nav ul#main {
    justify-content: flex-start;
    grid-column: 1;
}

header nav ul#user {
    grid-column: 2;
    justify-content: flex-end;
}

/* main split view */
main .split {
    display: grid;
    grid-gap: 2vw;
    grid-auto-columns: 20% auto;
}
main .split  > .side {
    grid-column: 1;
}
main .split  > .content {
    grid-column: 2;
}
main .split > img.side {
    margin: auto;
}


/* Footer detail */
footer > * {
    font-size: smaller;
}

/* All Navs */
nav li {
    flex: 0 1;
    margin-right: 2vw;
    white-space: nowrap;
    text-decoration: none;
}

/* Admin nav */
nav#admin-nav {
    line-height: .5rem;
}

/* Elements in tables */
tbody ul {
    line-height: 1.5rem;
}

tbody span, h2 span, h1 span {
    display: inline-block;
}
table .testenv a {
    display: block;
    padding-bottom:1vh;
}

article#participate section {
    margin-bottom: 2rem;
}
article#participate section:first-child h2 {
    margin-top: 0;
}
