@import url("colors.css");

input, button, textarea {
    padding: .5vh;
    border-radius: 4px;
}

textarea {
    display: block;
}

form div label {
    display: block;
}

form.simple {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: auto;
    gap: 2rem;
}
form.simple input[type=submit] {
    justify-self: center;
    padding: 1vh;
    padding-left: 4vh;
    padding-right: 4vh;
}
form.simple div.actions {
    display: flex;
    justify-content: space-evenly;
}
#new-testing-environment {
    gap: 0;
}
#new-testing-environment label {
    font-weight: bold;
    font-size: larger;
}
textarea.summary {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

form.email {
    width: 30rem;
}
form.email input:not([type=submit]):not([type=checkbox]) {
    width: 100%;
}

form.profile {
    gap: 0.8rem;
}
form.profile .row {
    display: grid;
    grid-template-columns: 80% 20%;
}
form.profile .row > *:last-child {
    justify-self: right;
}

input#save {
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 2vh;
}

@media (max-width: 768px) {
    form.simple {
        width: 100%;
    }
    textarea {
        width: 100%;
    }
}