@import url("colors.css");
@import url("elements.css");
@import url("modifiers.css");

body {
    display: grid;
    grid-template-rows: 12vh 2vh auto 3vh; 
    grid-template-columns: 100%;
    font-family: Verdana;
}

header {
    grid-row: 1;
    display: grid;
    grid-template-columns: 20% auto;
    align-items: center;
    border-bottom: 1vh solid var(--primary);
}

main {
    grid-row: 3;
    grid-column: 1/4;
}

footer {
    grid-row: 4;
    font-style: italic;
    text-align: center;
    margin-top: 10vh;
    padding-bottom: 5vh;
}
h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.3rem;
}
h3 {
    font-size: 1.1rem;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 2em;
}
a, a:visited {
    color: var(--primary);  
}

/* form controls */
input, button, textarea {
    padding: .5vh;
    border-radius: 4px;
}
textarea {
    display: block;
}

/* table */
table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

th, td {
    text-align: left;
    font-size: smaller;
    font-weight: normal;
    vertical-align: top;
    padding: 2vh;
}
colgroup {
    border: 1px solid var(--primary);
    width: 10rem;
}
thead {
    border: 1px solid var(--primary);
    background: var(--comp);
}
th {
    vertical-align: bottom;
    font-size: smaller;
    font-weight: bolder;
    cursor: pointer;
}

