@import url("colors.css");

html {
    height: 100%;
}
body {
    display: grid;
    height: 100%;
    grid-template-areas: 
    "header header header"
    "nav main main"
    "footer footer footer";
    grid-template-columns: minmax(min-content, 20rem) auto minmax(min-content, 20rem);
    grid-template-rows: auto 1fr auto;
    font-family: Helvetica Neue, Helvetica, Arial, Verdana, Geneva, sans-serif;
    letter-spacing: -0.00278rem;
    line-height: 1.6;
    margin-left: 1rem;
    margin-right: 1rem;
}
a, a:visited {
    color: var(--primary);  
}
a:hover {
    text-decoration: underline !important;
}
a:link, a:visited, a:hover {
    text-decoration: none;
}
em {
    font-weight: bold;
    font-style: inherit;
}
header {
    grid-area: header;
    display: grid;
    grid-template-areas: "title nav login";
    grid-template-columns: 20rem auto 20rem;
    align-items: center;
    border-bottom: 1vh solid var(--primary);
    margin-bottom: 1rem;
}
header h1 {
    grid-area: title;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}
header h1 a, header h1 a:hover {
    text-decoration: none !important;
    color: black !important;
}
header nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}
header nav li {
    flex: 0 1;
    margin-right: 2vw;
    white-space: nowrap;
    text-decoration: none;
}
header nav.main {
    grid-area: nav;
}
header nav.user {
    grid-area: login
}
header nav.user ul {
    justify-content: right;
}
main {
    grid-area: main;
}
main.landing {
    display: grid;
    grid-template-rows: 10rem 10rem;
    margin-top: 3rem;
}
main.wide {
    grid-column-start: 1;
}
main.inset {
    margin-left: 5rem;
    margin-right: 5rem;
}
footer {
    grid-area: footer;
    font-style: italic;
    text-align: center;
    margin-top: 10vh;
    padding-bottom: 5vh;
}
footer > * {
    font-size: smaller;
}
main > div {
    margin-bottom: 2rem;
}
div.center {
    display: flex;
    justify-content: center;
    align-content: center;
}

p.message {
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
    line-height: 2em;
    margin-bottom: 1vh;
    background-color: rgba(251, 255, 0, 0.2);
    grid-column-start: 1;
    grid-column-end: 4;
}

div.twocol {
    display: grid;
    grid-template-columns: 30% auto;
}

.big {
    margin: auto;
    display: block;
    background-color: var(--softcomp);
    box-shadow: 0 0 5px darkgray;
    padding: 1rem;
    width: min-content;
    white-space: nowrap;
    line-height: 2; 
    border-bottom: none !important;  
    text-align: center !important;
    margin-top: 3rem;
    
}

div.selection {
    border: solid .5vh var(--soft);
    padding: 1vh;
    margin: 1vh;   
}
span.notTested, span.na {
    font-style: italic;
    font-weight: lighter;
    color: var(--grayed-out);
}
.spaced {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.limit {
    max-width: 50vw;
    overflow: scroll;
}
.testenv span {
    margin-bottom: 1vh;
    display: block;
}
ul.cols {
    columns: 3;
}
body > nav {
    margin-right: 2rem;
}
body > nav > h1 {
    font-size: 1.3rem;
}
body > nav ul {
    list-style-type: none;
    padding: 0;
}
body > nav li {
    margin-bottom: 2rem;
}
body > nav li li {
    margin-top: 2rem;
    padding-left: 1rem;
}

body > nav ul li {
    margin-top: inherit;
    margin-bottom: inherit;
}

/* make the local navigation and main body line up */
main > *:first-child, body > nav > :first-child {
    margin-top: 0;
}

.deemph {
    /* font-style: italic; */
    font-weight: normal;
}

#err em {
    font-size: larger;
    font-style: normal;
    display: block;
}
em.title {
    font-weight: normal;
    /* font-style: italic; */
}
.boxed {
    border: thin solid black;
    padding: 2rem;
    font-size: smaller;
    columns: 2;
}
.boxed li {
    break-inside: avoid;
}
/*****************************/
/* MOBILE                    */
/*****************************/
@media (max-width: 768px) {
    body {
        grid-template-areas:
            "header"
            "main"
            "nav"
            "footer";
        grid-template-columns: 100%; 
        grid-template-rows:
            auto
            1fr
            auto
            auto;
        grid-gap: 5vh;
    }
    nav {
      margin: 0;
    }
    header {
        grid-template-areas:
        "message"
        "title"
        "nav"
        "login"
        "search";
        grid-row-gap: 1vh;
        grid-column-gap: inherit;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(0, min-content) auto auto auto;  
        border-bottom: none;
        justify-content: center;
        padding-bottom: 1rem;
    }
    header nav ul {
        justify-content: center !important;
    }
    header h1 {
        font-size: inherit;
        padding-left: inherit;
        justify-self: center;
    }
    main {
        grid-template-columns: 1fr;
    }
    main.landing {
        grid-template-rows: inherit;
    }
    body > nav {
        width: inherit;
        grid-template-columns: 1fr;
    }
    footer {
        border-top: none;
    }
    .message {
        grid-area: message;
    }
    th, td {
        /* word-wrap: break-word; */
        white-space: break-spaces;
    }
}

