{%- extends 'base/base.njk' -%}
{%- set title="Forgot password" -%}
{%- block content -%}

<main class="center">
    <p>Enter your email address below to receive a link to reset your password.</p>

    <form method="POST" action="/forms/forgot-password" class="simple email">
        
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" required/>
        </div>
                    
        <div class="actions">
            <input type="submit" name="submit" value="Reset password" />
        </div>
    </form>
</main>

{%- endblock -%}