{%- extends 'base/base.html' -%}
{%- set title="Forgot password" -%}
{%- block content -%}

<main class="center">
  <form method="POST" action="/forms/forgot-password" class="simple">
    <h2>Reset password</h2>
    <p>Enter your email address below to receive a link to reset your password.</p>

    <div>
      <label for="email">Email</label>
      <input type="email" name="email" required/>
    </div>
              
    <div class="actions">
      <input type="submit" name="submit" value="Submit" />
    </div>
  </form>
</main>

{%- endblock -%}