{%- extends 'base/base.html' -%}
{%- set title="Login" -%}
{%- block content -%}

<form method="POST" action="/forms/login" class="login simple">
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" required/>
  </div>
            
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" required/>
  </div>

  <div class="actions">
    <input type="submit" name="submit" value="Login" />
    <a href="/forgot-password">Forgot password?</a>
  </div>
</form>

{%- endblock -%}