{%- extends 'base/base.njk' -%}
{%- set title="Login" -%}
{%- block content -%}

<main class="center">
    <style>
        .actions {
            display: flex;
            justify-content: space-between;
        }
        .actions a {
            font-size: smaller;
        }
    </style>
    <form method="POST" action="/forms/login">
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" required id="email"/>
        </div>
                
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" required id="password"/>
        </div>

        <input type="hidden" name="next" value="{{next}}" />  
        <div class="actions">
            <input type="submit" name="submit" value="Login" />
            <a class="action" href="/forgot-password">Forgot password?</a>
        </div>
    </form>
</main>

{%- endblock -%}