{%- extends 'base/base.html' -%}
{%- block content -%}

{%- if pageTitle -%}
{%- set title = pageTitle -%}
<h1>{{pageTitle}}</h1>
{%- else -%}
{%- set title = "Set password" -%}
<h1>Set password</h1>
{%- endif -%}

{%- if pageMessage -%}
<p>{{pageMessage}}</p>
{%- endif -%}

<p id="local-error" aria-live="polite"></p>
<form method="POST" action="/user/forms/set-password" class="login simple" id="set-password-form">
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" required />
    </div>
    <div>
        <label for="passwordmatch">Password (again)</label>
        <input type="password" name="passwordmatch" required />
    </div>

    <div class="actions">
        <input type="submit" name="submit" value="Set password" />
    </div>
</form>
<script type="module" src="/js/passwordMatch.js"></script>
<script type="module">
    import { initCheckPasswordsMatch } from '/js/passwordMatch.js';
    window.addEventListener("load", () => {
        initCheckPasswordsMatch("set-password-form");   
    });
    
</script>

{%- endblock -%}