{%- extends 'base/base.html' -%}
{%- block content -%}

<h1>Set a password</h1>
<p id="local-error"></p>
<form method="POST" action="/forms/set-password" class="login" id="set-password-form">
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" required/>
  </div>
  <div>
    <label for="passwordmatch">Password (again)</label>
    <input type="password" name="passwordmatch" required/>
  </div>
            
  <div class="actions">
    <input type="submit" name="submit" value="Set password" onclick="handleForm(this)" />
  </div>
</form>

<script type="text/javascript">

let form = document.getElementById("set-password-form");

form.addEventListener("submit", function (event) {
  let password1 = form.elements.password.value; 
  let password2 = form.elements.passwordmatch.value; 
  
  if (password1 != password2) { 
    event.preventDefault();
    let elm = document.getElementById("local-error");
    elm.textContent = "Passwords must match!";
  } 
  else {
    this.submit();
  }
}, false);

</script>

{%- endblock -%}