{%- extends 'base/base.html' -%}
{%- set mainclass="wide inset" -%}
{%- set title = "Admin: Import Tests" -%}
{%- block content -%}

<h1>Import Tests</h1>
<p>Below are all the tests for the new test book. The system may have suggested some flags. You can override them below.</p>

<p>A flag means that the test is new or different. When a new book contains flagged tests, users will be given the option to upgrade their result set to the new book.
Their upgraded result set now requires re-testing. When they are done with the re-testing, they may publish their updated results. Until the updated results are published,
the previous version of the results appears in the public-facing table.
</p>

<h2>Book data</h2>

<p>Topic: {{getTopicName(testBook.topicId)}}</p>
<p>Version: {{testBook.version}}</p>
<p>Language: {{testBook.langId}}</p>
<p>Title: {{testBook.title}}</p>
<p>Description: {{testBook.description}}</p>
<p>Filename: {{testBook.filename}}</p>
<p>EPUB ID: {{testBook.epubId}}</p>

<h2>Tests</h2>

<form action="/admin/forms/add-test-book" method="POST">
    <input type="hidden" name="testBook" value="{{testBook | dump}}">
    
    <table class="wide striped">
        <thead>
            <tr>
                <th>Test ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Flagged</th>
            </tr>
        </thead>
        <tbody>
            {%- for test in testBook.tests -%}
            <tr>
                <td>{{test.testId}}</td>
                <td>{{test.name}}</td>
                <td>{{test.description}}</td>
                <td> <input type="checkbox" name="tests[{{loop.index}}][flag]" 
                    {%- if test.flag -%}checked{%- endif -%}>
                    <input type="hidden" name="tests[{{loop.index}}][testId]" value="{{test.testId}}">
                </td>
            </tr>
            {%- endfor -%}
        </tbody>
    </table>

    <input type="submit" value="Add book" name="addBook">
    <input type="submit" value="Cancel" name="cancel">
</form>
{%- endblock -%}