{%- extends 'base/admin-base.njk' -%}
{%- import "components/testing-environment-details.njk" as testingEnvironmentDetails -%}

{%- block content -%}

<main class="center">
    <style>
    #edit-testing-environment label {
        font-weight: bold;
    }
    </style>
    {%- if testingEnvironment -%}
    <h2>Current configuration</h2>
    {{ testingEnvironmentDetails.TestingEnvironmentDetails (testingEnvironment) }}
    {%- endif -%}

    {%- if testingEnvironment -%}
    <h2>Modify the testing environment</h2>
    {%- else -%}
    <h2>Add testing environment</h2>
    {%- endif -%}
    
    <form action="{{action}}" method="POST" id="edit-testing-environment">
        <section>
        <h3>Select software</h3>
        <p>Using the following dropdowns, select all the software/devices for this testing environment. You may add new software/devices as well.</p>

        {%- set softwareTypes = [
            "readingSystem",
            "assistiveTechnology", 
            "os", 
            "browser", 
            "device"
        ] -%}
        
        
        {%- for swtype in softwareTypes -%}
            {%- set swtypelabels = getSoftwareTypeLabels(swtype) -%}
            {%- set softwares = [] -%}
            {%- if swtype == 'readingSystem' -%}
            {%- set softwares = readingSystems -%}
            {%- elif swtype == 'assistiveTechnology' -%}
            {%- set softwares = assistiveTechnologies -%}
            {%- elif swtype == 'os' -%}
            {%- set softwares = operatingSystems -%}
            {%- elif swtype == 'browser' -%}
            {%- set softwares = browsers -%}
            {%- elif swtype == 'device' -%}
            {%- set softwares = devices -%}
            {%- endif -%}

            <div>
                <label for="{{swtypelabels.addressPart}}">Select {{swtypelabels.humanLabel| lower}}</label>
                <select name="{{swtype}}Id" id="{{swtypelabels.addressPart}}">
                    {%- if swtype == 'assistiveTechnology' or swtype == 'browser' or swtype == "device" -%}
                    {%- set matchesSw = matches(testingEnvironment, swtype, null) -%}
                    <option value="none" {% if matchesSw -%}selected{%- endif -%}>
                    None
                    </option>
                    {%- endif -%}
                    {%- for sw in softwares -%}
                    {%- set matchesSw = matches(testingEnvironment, swtype, sw) -%}
                    <option value="{{sw.id}}" {% if matchesSw -%}selected{%- endif -%}>
                    {{sw.name}} {{sw.version}} {%- if sw.vendor %} by {{sw.vendor}} {%- endif -%}
                    </option>
                    {%- endfor -%}
                </select>
                <p><a href="/admin/add-software/{{swtypelabels.addressPart}}">Add new {{swtypelabels.humanLabel| lower}}</a></p>
            </div>
        {%- endfor -%}
        </section>
        <section>
            <h3>Select options</h3>
            <div class="inline-control">
                <label for="testedWithBraille">Tested with Braille</label>
                <input type="checkbox" name="testedWithBraille" id="testedWithBraille" 
                {% if testingEnvironment and testingEnvironment.testedWithBraille -%}checked{%- endif -%}>
            </div>
    
            <div class="inline-control">
                <label for="testedWithScreenreader">Tested with Screenreader</label>
                <input type="checkbox" name="testedWithScreenreader" id="testedWithScreenreader"
                {% if testingEnvironment and testingEnvironment.testedWithScreenreader -%}checked{%- endif -%}>
            </div>
    
            <div class="inline-control">
                <label for="input-type">Select the type of input:</label>
                <select name="input" id="input-type">
                    <option value="KEYBOARD" {% if testingEnvironment and testingEnvironment.input == "KEYBOARD" -%}selected{%- endif -%}>Keyboard</option>
                    <option value="MOUSE" {% if testingEnvironment and testingEnvironment.input == "MOUSE" -%}selected{%- endif -%}>Mouse</option>
                    <option value="TOUCH" {% if testingEnvironment and testingEnvironment.input == "TOUCH" -%}selected{%- endif -%}>Touch</option>
                </select>
            </div>
        </section>
        
        <div class="actions">
            <input type="submit" name="cancel" value="Cancel"/>
            <input type="submit" name="save" value="Save">
        </div>
        
    </form>
</main>

{%- endblock -%}