{%- extends 'base/admin-base.njk' -%}
{%- set title="Add Testing Environment" -%}
{%- block content -%}

<main class="center">
    <style>
    #new-testing-environment label {
        font-weight: bold;
    }
    </style>
    <form action="/admin/forms/add-testing-environment" method="POST" id="new-testing-environment">
        <section>
        <h2>Select software</h2>
        <p>Using the following dropdowns, select all the software/devices for this new testing environment. You may add new software/devices as well.</p>

        {%- set softwareTypes = [
            "readingSystem",
            "assistiveTechnology", 
            "os", 
            "browser", 
            "device"
        ] -%}
        
        
        {%- for swtype in softwareTypes -%}
            {%- set swtypelabels = getSoftwareTypeLabels(swtype) -%}
            
            {%- set softwares = [] -%}
            {%- if swtype == 'readingSystem' -%}
            {%- set softwares = readingSystems -%}
            {%- elif swtype == 'assistiveTechnology' -%}
            {%- set softwares = assistiveTechnologies -%}
            {%- elif swtype == 'os' -%}
            {%- set softwares = operatingSystems -%}
            {%- elif swtype == 'browser' -%}
            {%- set softwares = browsers -%}
            {%- elif swtype == 'device' -%}
            {%- set softwares = devices -%}
            {%- endif -%}

            <div>
                <label for="{{swtypelabels.type}}">Select {{swtypelabels.humanLabel| lower}}</label>
                <select name="{{swtype}}Id" id="{{swtype}}">
                    {%- if swtype == 'assistiveTechnology' or swtype == 'browser' or swtype == "device" -%}
                    <option value="none">None</option>
                    {%- endif -%}
                    {%- for sw in softwares -%}
                    <option value="{{sw.id}}">{{sw.name}} {{sw.version}} {%- if sw.vendor %} by {{sw.vendor}} {%- endif -%}</option>
                    {%- endfor -%}
                </select>
                <p><a href="/admin/add-software/{{swtypelabels.addressPart}}">Add new {{swtypelabels.humanLabel| lower}}</a></p>
            </div>
        {%- endfor -%}
        </section>
        <section>
            <h2>Select options</h2>
            <div class="inline-control">
                <label for="testedWithBraille">Tested with Braille</label>
                <input type="checkbox" name="testedWithBraille">
            </div>
    
            <div class="inline-control">
                <label for="testedWithScreenreader">Tested with Screenreader</label>
                <input type="checkbox" name="testedWithScreenreader">
            </div>
    
            <div class="inline-control">
                <label for="input-type">Select the type of input:</label>
                <select name="input" id="input-type">
                    <option value="KEYBOARD">Keyboard</option>
                    <option value="MOUSE">Mouse</option>
                    <option value="TOUCH">Touch</option>
                </select>
            </div>
        </section>
        
        <input type="submit" value="Save">
    </form>
</main>

{%- endblock -%}