{%- extends 'base/admin-base.njk' -%}
{%- block content -%}

<main>
    <h1>{{title}}</h1>
    <form action="{{action}}" method="POST" class="simple">
        <label for="name">Name</label>
        <input type="text" label="Name" name="name" id="name" value="{{software.name}}" required>
        <label for="version">Version</label>
        <input type="text" label="Version" name="version" id="version" value="{{software.version}}">
        <label for="vendor">Vendor</label>
        <input type="text" label="Vendor" name="vendor" id="vendor" value="{{software.vendor}}">
        <div style="display: block">
            <label for="active">Show in dropdown?</label>
            <input type="checkbox" label="Show in dropdown?" name="active" id="active" {% if software.active or showInDropdown -%}checked="checked"{%-endif-%}>
        </div>
        <input type="hidden" name="id" value="{{software.id}}" id="id"/>
        <input type="hidden" name="type" value="{%- if software.type -%}{{software.type}}{%- else -%}{{type}}{%- endif -%}"/>
        <input type="submit" name="cancel" value="Cancel"/>
        <input type="submit" name="save" value="Save">
    </form>
</main>

{%- endblock -%}