{%- extends 'base/base.html' -%}
{%- set mainclass="wide inset" -%}
{%- block content -%}
<h1>{{title}}</h1>
<form action="/admin/forms/add-software" method="POST" class="simple">
    <label for="name">Name</label>
    <input type="text" label="Name" name="name" id="name">
    <label for="version">Version</label>
    <input type="text" label="Version" name="version" id="version">
    <label for="vendor">Vendor</label>
    <input type="text" label="Vendor" name="vendor" id="vendor">
    <input type="hidden" name="type" value="{{type}}" id="type">
    <input type="submit" value="Save">
</form>
{%- endblock -%}