{%- extends 'base/admin-software.njk' -%}
{%- set title = "All " + title -%}
{%- block content -%}


<script type="module" src="/js/data-table.js"></script>
<script type="module">
    import { options } from '/js/tables/admin-all-software-table-options.js';
    import * as helpers from '/js/tables/data-table-helpers.js';
    let rows = {{software | dump | safe}};

    let headers = [
        {
            title: "ID",
            id: "id",
            sort: (a,b) => helpers.numberSort(a, b, row => row.id),
            sortIs: 'asc'
        },
        {
            title: "Vendor",
            id: "vendor",
            sort: (a,b) => helpers.stringSort(a, b, row => row.vendor),
            sortIs: 'asc'
        },
        {
            title: "Name",
            id: "name",
            sort: (a,b) => helpers.stringSort(a, b, row => row.name),
            sortIs: 'asc'
        },   
        {
            title: "Version",
            id: "version"
        },
        {
            title: "Shown in dropdown",
            id: "shownInDropdown",
            sort: (a,b) => helpers.booleanSort(a, b, row => row.active),
            sortIs: 'asc'
        },
        {
            title: "Usage",
            id: "usage",
            sort: (a,b) => helpers.numberSort(a, b, row => row.testingEnvironments.length),
            sortIs: 'asc'
        },
        {
            title: "Actions",
            id: "actions"
        }
    ];
    
    document.querySelector("data-table").options = {
        ...options,
        showTextSearch: true,
        columnSelectorLabel: "Select a column",
        filtersLabel: "Filters",
        defaultSortHeader: 2
    };

    document.querySelector("data-table").data = {
        headers, rows
    };  
    window.addEventListener("resize", () => {
        document.querySelector("data-table").render();
    }); 
</script>

<main>
    <h2>{{title}}</h2>
    <data-table stylesheet="/css/data-table.css" summary="All {{title}}"></data-table>    
    
    <noscript>
    Javascript is required to view table(s) on this page.
    </noscript>
</main>

{% endblock %}  


{%- macro SoftwareTable(software, route) -%}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Vendor</th>
            <th>Name</th>
            <th>Version</th>
            <th>Show in dropdown</th>
            <th>Testing Environments</th>
            <th>Actions</th>
            
        </tr>
    </thead>
    <tbody>
        {%- for sw in software -%}
            <tr>
                <td>
                    {{sw.id}}
                </td>
                <td>
                    {{sw.vendor}}
                </td>
                <td>
                    {{sw.name}}
                </td>
                <td>
                    {{sw.version}}
                </td>
                <td>
                    {%-if sw.active-%}Yes{%-else-%}No{%-endif-%}
                </td>
                <td>
                    {{sw.testingEnvironments.length}}
                    {%- if sw.testingEnvironments.length -%}
                    <br><a href="/admin/{{route}}/{{sw.id}}">See usage</a>
                    {%- endif -%}
                </td>
                <td>
                    <ul>
                        <li><a href="/admin/edit-{{route}}/{{sw.id}}">Edit</a></li>
                        
                        <li>
                            {%- if sw.testingEnvironments.length == 0 -%}
                            <form method="POST" action="/admin/forms/confirm-delete-software/{{sw.id}}">
                                <input type="submit" name="submit" value="Delete"/>
                            </form>
                            {%- else -%}
                            <span>Cannot delete; in use.</span>
                            {%- endif -%}
                        </li>
                        
                    </ul>
                </td>
            </tr>
        {%- endfor -%}
    </tbody>
</table>
{%- endmacro -%}