{%- extends 'base/admin-base.njk' -%}
{%- set title = "Admin: All Software" -%}
{%- block content -%}

<main>
    <h1 id="reading-systems">Reading Systems</h1>
    {{ SoftwareTable(readingSystems, "reading-system") }}

    <h1 id="assistive-technologies">Assistive Technologies</h1>
    <a href="#main">Back to top</a>
    {{ SoftwareTable(assistiveTechnologies, "assistive-technology") }}

    <h1 id="operating-systems">Operating Systems</h1>
    <a href="#main">Back to top</a>
    {{ SoftwareTable(operatingSystems, "os") }}

    <h2 id="browsers">Browsers</h2>
    <a href="#main">Back to top</a>
    {{ SoftwareTable(browsers, "browser") }}
</main>

{% endblock %}  

{%- block nav -%}
<nav aria-label="Software categories">
    <h1>All Software</h1>
    <ul>
        <li><a href="#reading-systems">Reading Systems</a></li>
        <li><a href="#assistive-technologies">Assistive Technologies</a></li>
        <li><a href="#operating-systems">Operating Systems</a></li>
        <li><a href="#browsers">Browsers</a></li>
    </ul>
</nav>
{%- endblock -%}

{%- macro SoftwareTable(softwares, route) -%}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Vendor</th>
            <th>Name</th>
            <th>Version</th>
            <th>Show in dropdown</th>
            <th>Testing Environments</th>
            <th>Actions</th>
            
        </tr>
    </thead>
    <tbody>
        {%- for sw in softwares -%}
            <tr>
                <td>
                    {{sw.id}}
                </td>
                <td>
                    {{sw.vendor}}
                </td>
                <td>
                    {{sw.name}}
                </td>
                <td>
                    {{sw.version}}
                </td>
                <td>
                    {%-if sw.active-%}Yes{%-else-%}No{%-endif-%}
                </td>
                <td>
                    {{sw.testingEnvironments.length}}
                    {%- if sw.testingEnvironments.length -%}
                    <br><a href="/admin/{{route}}/{{sw.id}}">See usage</a>
                    {%- endif -%}
                </td>
                <td>
                    <ul>
                        <li><a href="/admin/edit-{{route}}/{{sw.id}}">Edit</a></li>
                        
                        <li>
                            {%- if sw.testingEnvironments.length == 0 -%}
                            <form method="POST" action="/admin/forms/confirm-delete-software/{{sw.id}}">
                                <input type="submit" name="submit" value="Delete"/>
                            </form>
                            {%- else -%}
                            <span>Cannot delete; in use.</span>
                            {%- endif -%}
                        </li>
                        
                    </ul>
                </td>
            </tr>
        {%- endfor -%}
    </tbody>
</table>
{%- endmacro -%}