{%- extends 'base/base.html' -%}
{%- import "components/testing-environment-title.html" as testingEnvironmentTitle -%}

{%- block content -%}
<h1>Confirm removal of test book and answer sets</h1>

{%- if answerSets and answerSets.length > 0  -%}
<p>The test book {{testBook.title}} 
    (version {{testBook.version}}, {{testBook.lang.id}}) 
    has the following results, which would also be removed permanently:</p>

<ul class="boxed">
    {%- for answerSet in answerSets -%}
        <li>{{ testingEnvironmentTitle.TestingEnvironmentOneLiner(answerSet.testingEnvironment) }}
            <br/>
            {%- if answerSet.isPublic -%}
            <span>Published</span>
            {%- else -%}
            <span>Not published</span>
            {%- endif -%}
        </li>
    {% endfor -%}
</ul>

<p>Are you sure you want to remove the test book along with the results listed above?</p>
{%- endif -%}

<form method="POST" action="{{actionUrl}}">
    <input type="hidden" name="redirectUrlYes" value="{{redirectUrlYes}}"/>
    <input type="hidden" name="redirectUrlNo" value="{{redirectUrlNo}}"/>
    <input type="submit" name="no" value="No"/>
    <input type="submit" name="yes" value="Yes"/>
</form>
{%- endblock -%}