{%- extends 'base/base.html' -%}
{%- set mainclass="wide inset" -%}
{%- block content -%}
<h1>{{title}}</h1>
<form action="/admin/forms/software" method="POST" class="simple">
    <label for="name">Name</label>
    <input type="text" label="Name" name="name" id="name" value="{{software.name}}">
    <label for="version">Version</label>
    <input type="text" label="Version" name="version" id="version" value="{{software.version}}">
    <label for="vendor">Vendor</label>
    <input type="text" label="Vendor" name="vendor" id="vendor" value="{{software.vendor}}">
    <div style="display: block">
        <label for="active">Is Active?</label>
        <input type="checkbox" label="Is Active?" name="active" id="active" {% if software.active -%}checked="checked"{%-endif-%}>
    </div>
    <input type="hidden" name="id" value="{{software.id}}" id="id">
    <input type="submit" value="Save">
</form>
{%- endblock -%}