{%- extends 'base/admin-base.njk'-%}
{%- set title="Admin Etc" -%}
{%- block content -%}
<main>
    <h2>Admin: Not ready for prime time features</h2>

    <ul> 
        <li><a href="/admin/add-test-book">Upload a test book</a></li>
        <li><a href="/admin/assignments">View assignments</a></li>
        <li>
            <form method="POST" action="/admin/forms/update-test-books-is-latest">
                <input type="submit" value="Update test books is_latest"></input>
            </form>
            <p>This generally does not need to be run as it happens automatically when a book is ingested; but if for some reason a book is deleted, run this. It also does not hurt anything to run it if you aren't sure.</p>
        </li>
    </ul>
</main>

{%- endblock -%}