{%- extends 'base/admin-base.njk'-%}
{%- set title="Admin Etc" -%}
{%- block content -%}
<main>
    <h1>Admin</h1>

    <h2>Not ready for prime time features</h2>

    <ul> 
        <li><a href="/admin/add-test-book">Upload a test book</a></li>
    </ul>
</main>

{%- endblock -%}