{%- extends 'base/admin-base.html'-%}
{%- set title="Admin: Home" -%}
{%- block content -%}
<main>
    <h1>Admin</h1>

    <h2>Requests</h2>
    <ul>
        <li><a href="/admin/requests">Requests</a>: Approve or deny requests to publish</li>
    </ul>

    <h2>Testing Environments</h2>

    <ul>
        <li><a href="/admin/testing">View and manage testing environments</a></li>
        <li><a href="/admin/add-testing-environment">Add testing environment</a>: Add new software and new testing environments</li>
        <li><a href="/admin/software">View all software</a>: Lists of all software in the system</li>
    </ul>

    <h2>Test Books</h2>
    <ul> 
        <li><a href="/admin/test-books">View and manage test books</a></li>
    </ul>

    <h2>Users</h2>
    <ul>
        <li><a href="/admin/users">View active users</a></li>
        <li><a href="/admin/invite-users">Invite new users</a></li>
        <li><a href="/admin/reinvite-users">Re-invite former users</a></li>
        <li><a href="/admin/invitations">View pending invitations</a></li>
    </ul>

    <h2>Other</h2>
    <ul>
        <li><a href="/admin/server-info">Server info</a></li>
    </ul>
</main>
{%- endblock -%}