{%- extends 'base/base.html'-%}
{%- set mainclass="wide inset" -%}
{%- block content -%}
<h1>Admin</h1>

<h2>Requests</h2>
<ul>
    <li><a href="/admin/requests">Requests</a>: Approve or deny requests to publish</li>
</ul>

<h2>Testing Environments</h2>

<ul>
    <li><a href="/admin/testing">Testing</a>: View all testing environments; edit results.</li>
    <li><a href="/admin/add-testing-environment">Add testing environment</a>: Add new software and new testing environments</li>
    <li><a href="/admin/software">View all software</a>: Lists of all software in the system</li>
</ul>

<h2>Test Books</h2>
<ul> 
    
    <li><a href="/admin/upload-test-book">Upload a test book</a></li>
    <li><a href="/admin/test-books">View all test Books</a></li>
</ul>

<h2>Users</h2>
<ul>
    <li><a href="/admin/users">Users</a></li>
</ul>

{%- endblock -%}