{%- extends 'base/admin-base.njk' -%}
{%- set title = "Admin: User Invitations" -%}
{%- block content -%}

<script type="module" src="/js/data-table.js"></script>
<script type="module">
    import * as tableSettings from '/js/tables/admin-invites-table-settings.js';
    import * as helpers from '/js/tables/data-table-helpers.js';
    import { style } from '/js/data-table-style.js';

    let rows = {{ invitations | dump | safe}};

    let headers = [
        {
            title: "Name",
            id: "name",
            sort: (a, b) => helpers.stringSort(a, b, row => row.user.name),
            sortIs: 'asc'
        },
        {
            title: "Email",
            id: "email",
            sort: (a, b) => helpers.stringSort(a, b, row => row.user.login.email),
            sortIs: 'asc'
        },
        {
            title: "Date invited",
            id: "dateInvited",
            sort: (a, b) => helpers.dateSort(a, b, row => row.dateInvited),
            sortIs: 'desc'
        },
        {
            title: "Action",
            id: "action"
        }
    ];
    let dataTable = document.querySelector("data-table");
    if (rows.length) {
        dataTable.bodyCellDisplay = tableSettings.bodyCellDisplay;
        dataTable.textSearchFilter = tableSettings.textSearchFilter;
        dataTable.css = style;
        dataTable.data = {headers, rows};
    }
    window.addEventListener("resize", () => {
        dataTable.render();
    }); 
</script>
<main>
    <h2>Pending invitations</h2>
    {%- if invitations.length == 0 -%}
    <p>There are not currently any pending invitations.</p>
    {%- else -%}
    <p>These users have been invited but have not yet accepted the invitation. You may re-send invites or cancel them.</p>

    <data-table 
        summary="User account invitations"
        showTextSearch="true"
    >
    </data-table>
    <noscript>
    Javascript is required to view table(s) on this page.
    </noscript>
    {%- endif -%}
</main>

{%- endblock -%}

