{%- extends 'base/admin-base.html' -%}
{%- set title = "Admin: Re-invite Users" -%}
{%- block content -%}

<h1 id="reinvite-users">Re-invite users</h1>

<p>These users were registered with the previous version of this website. You may re-invite them by selecting names from the list below, and then clicking "Invite All". They will receive an email with a link to finish setting up their account. After that, they are considered "active" in the system, and an admin may assign tasks to them.</p>

<form action="/admin/forms/reinvite-users" method="POST">

    <ul class="cols" id="inactiveUsersList">
        {%- for user in inactiveUsers -%}
        <li>
            <input type="checkbox" 
                name="users[]" 
                value="{{user.id}}" 
                aria-label="Select user">
                {{user.name}} 
                {%- if duplicateName(user.name) -%}<br/> 
                <span style="font-style: italic">({{user.email}})</span> 
                {%- endif -%}
            </input>
        </li>
        {%- endfor -%}
    </ul>    
    
    <div class="selection">
        <h3>Selected</h3>
        <p id="selected"></p>
    </div>
    <input type="button" value="Clear selected" id="clearSelected"/>
    <input type="submit" value="Invite All" type="submit"/>
</form>


<script type="text/javascript">

    function clearSelected() {
        let users = Array.from(document.querySelectorAll("#inactiveUsersList input"));
        users.map(u=>u.checked = false);
        document.querySelector("#selected").textContent = '';
    }

    window.addEventListener("load", () => {
        clearSelected();

        Array.from(document.querySelectorAll("#inactiveUsersList input")).map(elm => {
            addEventListener("change", e => {
                let users = Array.from(document.querySelectorAll("#inactiveUsersList input"));
                let checkedUsers = users.filter(u => u.checked);
                document.querySelector("#selected").textContent = 
                    checkedUsers.map(u=>u.parentElement.textContent.trim()).join(', ');
            });
        });
        document.querySelector("#clearSelected").addEventListener("click", e=> {
            clearSelected();
        });
    });
  
</script>

{%- endblock -%}
