{%- extends 'base/admin-base.njk' -%}
{%- set title = "Admin: Requests" -%}
{%- block content -%}

<main>
    <h2>Manage Requests</h2>
    {%- if requests.length == 0 -%}
    <p>No pending requests</p>
    {%- else -%}
    <table>
        <thead>
            <tr>
                <td>Reading System</td>
                <td>Assistive Technology</td>
                <td>Operating System</td>
                <td>Topic</td>
                <td>Requested on</td>
                <td>User</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {%- for request in requests -%}
            {%- set testenv = request.answerSet.testingEnvironment -%}
            <tr>
                <td>{{testenv.readingSystem.name}} {{testenv.readingSystem.version}}</td>
                <td>{{testenv.assistiveTechnology.name}}</td>
                <td>{{testenv.os.name}} {{testenv.os.version}}</td>
                <td>{{request.answerSet.testBook.topic.id}}</td>
                <td>{{request.created | date("YYYY-MM-DD HH:mm:ss")}}</td>
                <td>{{request.answerSet.user.name}}</td>
                <td>
                    <form method="POST" action="/admin/forms/handle-request">
                        <input type="hidden" name="requestId" value="{{request.id}}"></input>
                        <input type="hidden" name="answerSetId" value="{{request.answerSet.id}}"></input>
                        <input type="submit" name="approve" value="Approve"></input>
                        <input type="submit" name="deny" value="Deny"></input>
                    </form>
                </td>
            {%- endfor -%}
        </tbody>
    </table>
    {%- endif -%}
</main>

{%- endblock -%}