{%- extends '../base/admin-base.html' -%}
{%- set title = "Admin: Home" -%}
{%- set mainclass = "wide" -%}


{%- block section -%}

<h1>Manage Requests</h1>
{%- if requests.length == 0 -%}
<p>No pending requests</p>
{%- else -%}
<table>
    <thead>
        <tr>
            <td>Reading System</td>
            <td>Assistive Technology</td>
            <td>Operating System</td>
            <td>Topic</td>
            <td>Requested on</td>
            <td>User</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        {%- for request in requests -%}
        <tr>
            <td>{{request.answerSet.testingEnvironment.readingSystem.name}} {{request.answerSet.testingEnvironment.readingSystem.version}}</td>
            <td>{{request.answerSet.testingEnvironment.assistiveTechnology.name}}</td>
            <td>{{request.answerSet.testingEnvironment.os.name}} {{request.answerSet.testingEnvironment.os.version}}</td>
            <td>{{request.answerSet.testBook.topic.id}}</td>
            <td>{{request.created | date("YYYY-MM-DD")}}</td>
            <td>{{request.answerSet.user.name}}</td>
            <td>
                <form method="POST" action="/admin/forms/handle-request">
                    <input type="hidden" name="requestId" value="{{request.id}}"></input>
                    <input type="hidden" name="answerSetId" value="{{request.answerSet.id}}"></input>
                    <input type="submit" name="approve" value="Approve"></input>
                    <input type="submit" name="deny" value="Deny"></input>
                </form>
            </td>
        {%- endfor -%}
    </tbody>
</table>
{%- endif -%}
{%- endblock -%}