{%- extends 'base/admin-base.njk' -%}
{%- set title = "Admin: Test Books" -%}
{%- block content -%}

<script type="module" src="/js/data-table.js"></script>
<script type="module">
    import * as tableSettings from '/js/tables/admin-test-books-table-settings.js';
    import { style } from '/js/data-table-style.js';

    let rows = {{testBooks | dump | safe}};

    let headers = [
        {
            title: "Topic",
            id: "topic"
        },
        {
            title: "Version",
            id: "version"
        },
        {
            title: "Language",
            id: "language"
        },
        {
            title: "Title",
            id: "title"
        },   
        {
            title: "Description",
            id: "description"
        },
        {
            title: "Download",
            id: "download"
        },
        {
            title: "Delete",
            id: "delete"
        }
    ];
    
    let dataTable = document.querySelector("data-table");
    dataTable.bodyCellDisplay = tableSettings.bodyCellDisplay;
    dataTable.textSearchFilter = tableSettings.textSearchFilter;
    dataTable.data = { headers, rows };  
    window.addEventListener("resize", () => {
        dataTable.render();
    }); 
</script>

<main>
    <h2>Test Books</h2>

    <data-table 
        summary="All test books"
        showTextSearch="true"
    >
    </data-table>
    <noscript>
    Javascript is required to view table(s) on this page.
    </noscript>
</main>

{%- endblock -%}