{%- extends 'base/admin-base.html' -%}

{%- import "components/testing-environment-title.html" as testingEnvironmentTitle -%}
{%- import "components/testing-environments-table.html" as testingEnvironmentsTable -%}
{%- set title = "Admin: Testing" -%}


{%- block content -%}

<h1>Testing Environments</h1>

<p>Below, all testing environments are listed and organized into current, archived, published, and unpublished. Select one to view details and edit results per topic.</p>

<div id="current">
    <h2>Current testing environments</h2>
    <div id="current-published">
        <h3>With published results</h3>
        {{ testingEnvironmentsTable.TestingEnvironmentsTable (publicTestingEnvironments) }}
        
    </div>
    <div id="current-unpublished">
        <h3>With unpublished results</h3>
        {{ testingEnvironmentsTable.TestingEnvironmentsTable (unpublishedTestingEnvironments) }}
    </div>
</div>

<div id="archived">
    <h2>Archived</h2>
    <div id="archived-published">
        <h3>With published results</h3>
        {{ testingEnvironmentsTable.TestingEnvironmentsTable (publicArchivedTestingEnvironments) }}
        
    </div>

    <div id="archived-unpublished">
        <h3>With unpublished results</h3>
        {{ testingEnvironmentsTable.TestingEnvironmentsTable (unpublishedArchivedTestingEnvironments) }}
    </div>
</div>

{#<div id="noresults">
    <h2>Testing Environments with no results</h2>
    {{ TestingEnvironmentList (noResultsTestingEnvironments) }}
</div>#}

{%- endblock -%}

{%- block nav -%}
<nav aria-label="Testing environments navigation">
    <h1>By status</h1>
    <ul>
        <li><a href="#current">Current Testing Environments</a>
            <ul>
                <li><a href="#current-published">With published results</a></li>
                <li><a href="#current-unpublished">With unpublished results</a></li>
            </ul>
        </li>
        <li><a href="#archived">Archived Testing Environments</a>
            <ul>
                <li><a href="#archived-published">With published results</a></li>
                <li><a href="#archived-unpublished">With unpublished results</a></li>
            </ul>
        </li>
        {#<li><a href="#noresults">Testing Environments with no results</a></li>#}
    </ul>
</nav>
{%- endblock -%}

{%- macro TestingEnvironmentList(testingEnvironments) -%}
<ul>
    {%- for testingEnvironment in testingEnvironments -%}
    <li id="{{testingEnvironment.id}}">
        <a href="/admin/testing-environment/{{testingEnvironment.id}}">
            {{ testingEnvironmentTitle.TestingEnvironmentTitle (testingEnvironment, true) }}
        </a>
    </li>
    {%- endfor -%}
</ul>
{%- endmacro -%}
