{%- extends 'base/admin-base.njk' -%}
{%- set title = "Admin: Test Books" -%}
{%- import "components/topic-names.njk" as topicNames -%}
{%- block content -%}

<script type="module" src="/js/table.js"></script>
<script type="module">
    import { EnhancedTable } from '/js/table.js';
    
    window.addEventListener("load", () => {
        let tableElm = document.querySelector("table");
        let tableControlsElm = document.querySelector("#table-controls");
        let enhancedTable = new EnhancedTable(tableElm, tableControlsElm);
        enhancedTable.enableSearch();
    }); 
</script>

<main>
    <h2 id="pagename">Admin Test Books</h2>
    <div id="table-controls" class="table-controls"></div>
    <div aria-labelledby="pagename" role="region" tabindex="0">
        <table aria-labelledby="pagename">
            <thead>
                <tr>
                    <th>Topic</th>
                    <th>Title</th>
                    <th>Version</th>
                    <th>Description</th>
                    <th>Download</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {%- for testBook in testBooks -%}
                <tr>
                    <td>{{ topicNames.TopicName(testBook.topicId) }} {{ testBook.topic.id }}</td>
                    <td>{{ testBook.title }}</td>
                    <td>{{ testBook.version }}
                        {%- if testBook.isLatest -%}
                        <span class="latest-testbook">Latest revision</span>
                        {%- endif -%}
                    </td>
                    <td>{{ testBook.description }}</td>
                    <td>
                        <a href="/books/{{ testBook.filename }}" title="{{ testBook.title }}">Download</a>
                    </td>
                    <td>
                        <form action="/admin/forms/confirm-delete-test-book/{{ testBook.id }}" method="post">
                            <input type="submit" value="Delete"></input>
                        </form>
                    </td>
                </tr>
                {%- endfor -%}
            </tbody>
        </table>
    </div>
</main>

{%- endblock -%}