{%- extends 'base/base.html' -%}
{%- set title = "Admin: Test Books" -%}
{%- set mainclass="wide inset" -%}
{%- block content -%}

<h1>Manage Test Books</h1>

{#

This page should have:

By Topic

- Latest book in each supported lang

- Import book => "Import" page

#}

{#<h2>Add Test Book</h2>

<p>Please ensure the book conforms to the <a href="#TODO">Guidelines</a> and that it passes EPUBCheck.</p>

<form method="POST" action="/admin/forms/upload-test-book" enctype="multipart/form-data">
    <input type="file" name="epub">
    <input type="submit" value="Add book">
</form>
#}

<h2>Latest Test Books</h2>
<table class="wide striped">
    <thead>
        <tr>
            <th>Topic</th>
            <th>Version</th>
            <th>Language</th>
            <th>Title</th>
            <th>Description</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>
        {%- for testBook in testBooks -%}
        <tr>
            <td>{{getTopicName(testBook.topicId)}}</td>
            <td>{{testBook.version}}</td>
            <td>{{testBook.langId}}</td>
            <td>{{testBook.title}}</td>
            <td>{{testBook.description}}</td>
            <td><a href="/books/{{testBook.filename}}" title="{{testBook.title}}">Download</a></td>
        </tr>    
        {%- endfor -%}  
    </tbody>
</table>

{#<h2>All Test Books</h2>
<table class="wide striped">
    <thead>
        <tr>
            <th>In use</th>
            <th>Topic</th>
            <th>Version</th>
            <th>Language</th>
            <th>Title</th>
            <th>Description</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>
        {%- for testBook in testBooks -%}
        <tr>
            <td>TODO</td>
            <td>{{getTopicName(testBook.topicId)}}</td>
            <td>{{testBook.version}}</td>
            <td>{{testBook.langId}}</td>
            <td>{{testBook.title}}</td>
            <td>{{testBook.description}}</td>
            <td><a href="/books/{{testBook.filename}}" title="{{testBook.title}}">Download</a></td>
        </tr>    
        {%- endfor -%}  
    </tbody>
</table>
#}
{%- endblock -%}