{%- extends 'base/admin-base.njk' -%}
{%- import "components/testing-environment-labels.njk" as testingEnvironmentLabels -%}
{%- import "components/testing-environment-details.njk" as testingEnvironmentDetails -%}
{%- import "components/software-name.njk" as softwareName -%}
{%- import "components/format-score.njk" as formatScore -%}

{%- set title = "Admin: Testing Environment" -%}
{%- block content -%}
<script type="module" src="/js/data-table.js"></script>
<script type="module">
    import * as helpers from '/js/tables/data-table-helpers.js';
    import { options } from '/js/tables/admin-testing-environment-table-options.js';

    let rows = {{testingEnvironment.answerSets | dump | safe}};
    let requestsToPublish = {
        {%- for answerSet in testingEnvironment.answerSets -%}
        {%set requestToPublish = getRequestToPublish(answerSet.id) %}
        {%- if requestToPublish -%}
        {{answerSet.id}}: {{getRequestToPublish(answerSet.id) | dump | safe }},
        {%- endif -%}
        {%- endfor -%}
    };
    requestsToPublish = {{requestsToPublish | dump | safe }};
    let users = {{users | dump | safe}};
    let testingEnvironment = {{testingEnvironment | dump | safe}};
    let headers = [
        {
            title: "Topic",
            id: "topic",
            sort: (a, b) => helpers.numberSort(a, b, row => row.testBook.topic.order),
            sortIs: 'asc'
        },
        {
            title: "Test book version",
            id: "testBookVersion"
        },   
        {
            title: "Assigned to",
            id: "assignedTo",
            sort: (a, b) => helpers.stringSort(a, b, row => row.user.name),
            sortIs: 'asc'
        },
        {
            title: "Score",
            id: "score",
            sort: (a, b) => helpers.numberSort(a, b, row => helpers.calcScore(row.score)),
            sortIs: 'asc'
        },
        {
            title: "Edit",
            id: "edit"
        },
        {
            title: "Status",
            id: "status",
            sort: (a, b) => helpers.booleanSort(a, b, row => row.isPublic),
            sortIs: 'asc'
        },
        {
            title: "Publishing requested",
            id: "publishingRequested",
            sort: (a, b) => helpers.booleanSort(a, b, row => requestsToPublish.hasOwnProperty(row.id)),
            sortIs: 'asc'
        }
    ];
    
    document.querySelector("data-table").options = {
        getBodyCellDisplay: (header, row, headerIdx, rowIdx) => options.getBodyCellDisplay(header, row, headerIdx, rowIdx, requestsToPublish, testingEnvironment, users),
        getHeaderCellDisplay: options.getHeaderCellDisplay,
        showTextSearch: false,
        columnSelectorLabel: "Select a column",
        filtersLabel: "Filters",
        textSearchFilter: options.textSearchFilter,
        filters: options.filters(requestsToPublish),
        defaultSortHeader: 0
    };

    document.querySelector("data-table").data = {
        headers, rows
    };
    window.addEventListener("resize", () => {
        document.querySelector("data-table").render();
    }); 
</script>
<main>
    <h2>Manage Testing Environment</h2>
    {{ testingEnvironmentLabels.TestingEnvironmentTitle (testingEnvironment, 'h3', 'p')}}
    {{ testingEnvironmentDetails.TestingEnvironmentDetails(testingEnvironment) }}
    
    {%- if answerSet.isPublic -%}
        <p><a href="/results/{{testingEnvironment.id}}#{{answerSet.id}}">Public link</a></p>
    {%- endif -%}

    {#<p><a href="TODO">Edit testing environment details</a></p>#}
    
    {%- if testingEnvironment.isArchived -%}
    <p>This testing environment has been archived. You may unarchive it.</p>
    <form method="POST" action="/admin/forms/unarchive">
        <input type="hidden" name="testingEnvironmentId" value="{{testingEnvironment.id}}"/>
        <input type="submit" name="submit" value="Unarchive"/>
    </form>
    {%- else -%}
    <p>This testing environment is not archived. You may archive it.</p>
    <form method="POST" action="/admin/forms/archive">
        <input type="hidden" name="testingEnvironmentId" value="{{testingEnvironment.id}}"/>
        <input type="submit" name="submit" value="Archive"/>
    </form>
    {%- endif -%}

    <p>You may delete this testing environment.</p>
    <form method="POST" action="/admin/forms/confirm-delete-testing-environment/{{testingEnvironment.id}}">
        <input type="submit" name="submit" value="Delete"/>
    </form>

    <h3>Answer Sets</h3>
    <p>This testing environment has 
        {% if testingEnvironment.isPublic %} one or more {% else %} no {% endif %} 
        public answer sets. All answer sets are shown below.
    </p>
    
    <data-table summary="Management of answer sets for the testing environment" stylesheet="/css/data-table.css">
    </data-table>

    <noscript>
    <table class="striped">
        <thead>
            <tr>
                <th>Topic</th>
                <th>Test book version</th>
                <th>Assigned to</th>
                <th>Score</th>
                <th>Edit</th>
                <th>Status</th>
                <th>Publishing requested</th>
            </tr>
        </thead>
        <tbody>
        {%- for answerSet in testingEnvironment.answerSets -%}
        {%- set requestToPublish=getRequestToPublish(answerSet.id) -%}
                
        <tr>
            <td>{{answerSet.testBook.topic.id}}</td>
            <td><a href="/books/{{answerSet.testBook.filename}}">
                v{{ answerSet.testBook.version }} ({{ answerSet.testBook.lang.id }})
                </a>
            </td>
            <td>
                <form method="POST" action="/admin/forms/set-user">
                    <select name="userId">
                        
                        {%- if answerSet.user == null -%}
                        <option value="None" selected="selected">None</option>
                        {%- else -%}
                        <option value="None">None</option>
                        {%- endif -%}

                        {%- for user in users -%}
                        {%- if answerSet.user and user.id == answerSet.user.id -%}
                        <option value="{{user.id}}" selected="selected">
                        {%- else -%}
                        <option value="{{user.id}}">
                        {%- endif -%}
                        {{user.name}}
                        </option>
                        {%- endfor -%}
                    </select>
                    <input type="hidden" name="answerSetId" value="{{answerSet.id}}">
                    <input type="hidden" name="next" value="/admin/testing-environment/{{testingEnvironment.id}}">
                    <input type="submit" value="Assign">  
                </form>
            </td>
            
            <td>{{formatScore.FormatScore(answerSet)}}</td>
            <td><a href="/user/edit-results/{{answerSet.id}}?next=/admin/testing-environment/{{testingEnvironment.id}}">Edit</td>
            <td>
                {%- if answerSet.isPublic -%}
                <span>Published</span>
                <form method="POST" action="/admin/forms/unpublish">
                    <input type="hidden" name="next" value="/admin/testing-environment/{{testingEnvironment.id}}"/>
                    <input type="hidden" name="testingEnvironmentId" value="{{testingEnvironment.id}}"/>
                    <input type="hidden" name="answerSetId" value="{{answerSet.id}}"/>
                    <input type="submit" name="submit" value="Unpublish"/>
                </form>
                {%- else -%}
                <span>Unpublished</span>
                <form method="POST" action="/admin/forms/publish">
                    <input type="hidden" name="next" value="/admin/testing-environment/{{testingEnvironment.id}}"/>
                    <input type="hidden" name="testingEnvironmentId" value="{{testingEnvironment.id}}"/>
                    <input type="hidden" name="answerSetId" value="{{answerSet.id}}"/>
                    <input type="submit" name="submit" value="Publish"/>
                </form>
                {%- endif -%}
            </td>
            <td>
                {%- if requestsToPublish[answerSet.id] -%}
                Yes
                {%- else -%}
                No
                {%- endif -%}
            </td>
        </tr>
        {%- endfor -%}
        </tbody>
    </table>
    </noscript>

    <h3>Assign all</h3>
    <p>Instead of assigning each answer set individually, you can assign them all to one user here (<em>warning</em>: this overwrites any current assignments):</p>
    <form method="POST" action="/admin/forms/set-user">
        <select name="userId">
            
            {%- if answerSet.user == null -%}
            <option value="None" selected="selected">None</option>
            {%- else -%}
            <option value="None">None</option>
            {%- endif -%}

            {%- for user in users -%}
            {%- if answerSet.user and user.id == answerSet.user.id -%}
            <option value="{{user.id}}" selected="selected">
            {%- else -%}
            <option value="{{user.id}}">
            {%- endif -%}
            {{user.name}}
            </option>
            {%- endfor -%}
        </select>
        <input type="hidden" name="testingEnvironmentId" value="{{testingEnvironment.id}}">
        <input type="hidden" name="next" value="/admin/testing-environment/{{testingEnvironment.id}}">
        <input type="submit" value="Assign">  
    </form>
</main>

{%- endblock -%}