{%- extends 'base/admin-base.njk' -%}
{%- import "components/testing-environment-labels.njk" as testingEnvironmentLabels -%}
{%- import "components/admin-testing-environments-table.njk" as testingEnvironmentsTable -%}
{%- set title = "Admin: Testing Environments" -%}

{%- block content -%}
<main>
    <h2>Testing Environments</h2>
    {{ testingEnvironmentsTable.TestingEnvironmentsTable(testingEnvironments, displayUtils)}}
</main>

{%- endblock -%}
