{%- extends 'base/admin-base.njk' -%}
{%- import "components/testing-environment-labels.njk" as testingEnvironmentLabels -%}
{%- import "components/testing-environment-details.njk" as testingEnvironmentDetails -%}
{%- import "components/software-name.njk" as softwareName -%}
{%- import "components/format-score.njk" as formatScore -%}
{%- import "components/topic-names.njk" as topicNames -%}
{%- set title = "Admin: Testing Environment" -%}
{%- block content -%}
<script type="module" src="/js/table.js"></script>
<script type="module">
    import { EnhancedTable } from '/js/table.js';
    
    window.addEventListener("load", () => {
        let tableElm = document.querySelector("table");
        let tableControlsElm = document.querySelector("#table-controls");
        let enhancedTable = new EnhancedTable(tableElm, tableControlsElm);
        enhancedTable.enableSearch();
        enhancedTable.enableFilters([
            {
                label: "Status",
                pathFn: r => {
                    let cell = r.querySelector(`td:nth-child(1)`);
                    return cell.textContent;
                }
            },
            {
                label: "Test book",
                pathFn: r => {
                    let cell = r.querySelector(`td:nth-child(2)`);
                    return cell.textContent.indexOf('Latest revision') == -1 ? 'Older' : 'Latest';
                }
            }
        ]);
        enhancedTable.enableSort([{
            columnIndex: 2,
            type: "date",
            firstSort: "descending",
            pathFn: r => r.querySelector(`td:nth-child(3)`).textContent
        }]);
        enhancedTable.loadFromStore();
    });
</script>
<main>
    <style>
    .testing-environment-results {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    button.copyLink {
        display: none;
    }
    </style>
    <h2>Manage Testing Environment</h2>
    {{ testingEnvironmentLabels.TestingEnvironmentTitle (testingEnvironment, 'h3', 'p')}}
    {{ testingEnvironmentDetails.TestingEnvironmentDetails(testingEnvironment) }}
    
    <p><a href="/admin/edit-testing-environment/{{testingEnvironment.id}}">Edit testing environment details</a></p>
    
    {%- if answerSet.isPublic -%}
        <p><a href="/results/{{testingEnvironment.id}}#{{answerSet.id}}">Public link</a></p>
    {%- endif -%}

    
    
    {%- if testingEnvironment.isArchived -%}
    <p>This testing environment has been archived. You may unarchive it.</p>
    <form method="POST" action="/admin/forms/unarchive">
        <input type="hidden" name="testingEnvironmentId" value="{{testingEnvironment.id}}"/>
        <input type="submit" name="submit" value="Unarchive"/>
    </form>
    {%- else -%}
    <p>This testing environment is not archived. You may archive it.</p>
    <form method="POST" action="/admin/forms/archive">
        <input type="hidden" name="testingEnvironmentId" value="{{testingEnvironment.id}}"/>
        <input type="submit" name="submit" value="Archive"/>
    </form>
    {%- endif -%}

    <p>You may delete this testing environment.</p>
    <form method="POST" action="/admin/forms/confirm-delete-testing-environment/{{testingEnvironment.id}}">
        <input type="submit" name="submit" value="Delete"/>
    </form>

    <h3>Answer Sets</h3>
    <p>This testing environment has 
        {% if testingEnvironment.isPublic %} one or more {% else %} no {% endif %} 
        public answer sets. All answer sets are shown below.
    </p>
    
    <div id="table-controls" class="table-controls"></div>
    <div aria-labelledby="table-caption" role="region" tabindex="0">
        <table id="testing-environment-details">
            <caption id="table-caption">Details about answer sets for this testing environment</caption>
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Test Book</th>
                    <th>Book added</th>
                    <th>Assigned to</th>
                    <th>Score</th>
                    <th>Edit</th>
                    <th>Status</th>
                    <th>Publishing requested</th>
                    <th>Share</th>
                </tr>
            </thead>
            <tbody>
            {%- for answerSet in testingEnvironment.answerSets -%}
            {%- set requestToPublish=getRequestToPublish(answerSet.id) -%}
            {%- set answerSetStatus = displayUtils.answerSetCompletedStatus(answerSet) -%}
            <tr id="{{answerSet.testBook.topic.id}}-{{answerSet.testBook.version}}">
                <td><span class="{{answerSetStatus.class}}">{{answerSetStatus.message}}</span></td>
                <td>{{topicNames.TopicName(answerSet.testBook.topic.id)}}
                    <br/>(v{{answerSet.testBook.version}})
                     {%- if answerSet.testBook.isLatest -%}
                    <span class="latest-testbook">Latest revision</span>
                    {%- endif -%}
                </td>
                <td>
                    {{displayUtils.dayjs(answerSet.testBook.ingested).format('MMM D, YYYY')}}
                </td>
                <td>
                    <form method="POST" action="/admin/forms/set-user">
                        <select name="userId">
                            
                            {%- if answerSet.user == null -%}
                            <option value="None" selected="selected">None</option>
                            {%- else -%}
                            <option value="None">None</option>
                            {%- endif -%}

                            {%- for user in users -%}
                            {%- if answerSet.user and user.id == answerSet.user.id -%}
                            <option value="{{user.id}}" selected="selected">
                            {%- else -%}
                            <option value="{{user.id}}">
                            {%- endif -%}
                            {{user.name}}
                            </option>
                            {%- endfor -%}
                        </select>
                        <input type="hidden" name="answerSetId" value="{{answerSet.id}}">
                        <input type="hidden" name="next" value="/admin/testing-environment/{{testingEnvironment.id}}">
                        <input type="submit" value="Assign">  
                    </form>
                </td>
                
                <td>{{formatScore.FormatScore(answerSet)}}</td>
                <td><a href="/user/edit-results/{{answerSet.id}}?next=/admin/testing-environment/{{testingEnvironment.id}}">Edit</td>
                <td>
                    {%- if answerSet.isPublic -%}
                    <span>Published</span>
                    <form method="POST" action="/admin/forms/unpublish">
                        <input type="hidden" name="next" value="/admin/testing-environment/{{testingEnvironment.id}}"/>
                        <input type="hidden" name="testingEnvironmentId" value="{{testingEnvironment.id}}"/>
                        <input type="hidden" name="answerSetId" value="{{answerSet.id}}"/>
                        <input type="submit" name="submit" value="Unpublish"/>
                    </form>
                    {%- else -%}
                    <span>Unpublished</span>
                    <form method="POST" action="/admin/forms/publish">
                        <input type="hidden" name="next" value="/admin/testing-environment/{{testingEnvironment.id}}"/>
                        <input type="hidden" name="testingEnvironmentId" value="{{testingEnvironment.id}}"/>
                        <input type="hidden" name="answerSetId" value="{{answerSet.id}}"/>
                        <input type="submit" name="submit" value="Publish"/>
                    </form>
                    {%- endif -%}
                </td>
                <td>
                    {%- if requestsToPublish[answerSet.id] -%}
                    Yes
                    {%- else -%}
                    No
                    {%- endif -%}
                </td>
                <td>
                    {% if answerSet.isPublic %}
                    <button class="copyLink" data-href="/results/{{answerSet.testingEnvironment.id}}#{{answerSet.testBook.topic.id}}">
                    Copy public link
                    </button>
                    {% else %}
                    <a href="/user/share-link/{{answerSet.id}}">Generate private link</a>
                    {% endif %}
                </td>
            </tr>
            {%- endfor -%}
            </tbody>
        </table>
    </div>
<script>
    document.addEventListener("DOMContentLoaded", e => {
        let copyPublicLinkButtons = Array.from(document.querySelectorAll(".copyLink"));
        if (document.location.hostname == "localhost" || document.location.href.indexOf("https") != -1) {
            copyPublicLinkButtons.map(button => button.style["display"] = "block");
        }
        copyPublicLinkButtons.map(button => button.addEventListener("click", async e => {
            let relLink = button.getAttribute("data-href");
            let fullLink = new URL(relLink, window.location.href).href;
            await navigator.clipboard.writeText(fullLink);
        }));
    });
    
</script>

    <h3>Assign all</h3>
    <p>Instead of assigning each answer set individually, you can assign them all to one user here (<em>warning</em>: this overwrites any current assignments):</p>
    <form method="POST" action="/admin/forms/set-user">
        <select name="userId">
            
            {%- if answerSet.user == null -%}
            <option value="None" selected="selected">None</option>
            {%- else -%}
            <option value="None">None</option>
            {%- endif -%}

            {%- for user in users -%}
            {%- if answerSet.user and user.id == answerSet.user.id -%}
            <option value="{{user.id}}" selected="selected">
            {%- else -%}
            <option value="{{user.id}}">
            {%- endif -%}
            {{user.name}}
            </option>
            {%- endfor -%}
        </select>
        <input type="hidden" name="testingEnvironmentId" value="{{testingEnvironment.id}}">
        <input type="hidden" name="next" value="/admin/testing-environment/{{testingEnvironment.id}}">
        <input type="submit" value="Assign">  
    </form>
</main>

{%- endblock -%}