{%- extends '../base/admin-base.html' -%}
{%- set title = "Admin: Manage Users" -%}
{%- block section -%}

<h1>Manage Users</h1>

<div class="split">
    <nav class="side" aria-label="User management links">
        <ul>
            <li><a href="#active-users">Active Users</a></li>
            <li><a href="#pending-invitations">Pending Invitations</a></li>
            <li><a href="#invite-users">Invite Users</a></li>
        </ul>
    </nav>

    <div class="content">
        {# TODO
            <h2>Add user</h2> 
        #}


        <h2 id="active-users">Active Users</h2>
        <ul class="cols">
            {%- for user in activeUsers -%}
            <li>{{user.name}}</li>
            {%- endfor -%}
        </ul>

        <h2 id="pending-invitations">Pending invitations</h2>
        <p>These users have been invited but have not yet accepted the invitation. You may re-send invites.</p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date invited</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {%- for invite in invitations -%}
                <tr>
                    <td>{{invite.user.name}}</td>
                    <td>{{invite.dateInvited | date("YYYY-MM-DD")}}</td>
                    <td>
                        <form action="/admin/forms/invite-user">
                            <input type="button" name="resend" value="Re-send invitation" type="submit"/>
                            <input type="button" name="cancel" value="Cancel invitation" type="submit"/>
                        </form>
                    </td>
                </tr>
                {%- endfor -%}
            </tbody>
        </table>


        <h2 id="invite-users">Invite users</h2>
        <p>These users were registered with the previous version of this website. You may re-invite them below.</p>

        <form action="/admin/forms/reinvite-users" method="POST">
        
            <ul class="cols" id="inactiveUsersList">
                {%- for user in inactiveUsers -%}
                <li>
                    <input type="checkbox" 
                        name="users[]" 
                        value="{{user.id}}" 
                        aria-label="Select user">
                        {{user.id}} <br/>
                        {{user.name}} 
                        <span style="font-style: italic">({{user.email}})</span> 
                        {%- if duplicateName(user.name) -%}<br/> 
                        <span style="font-style: italic">({{user.email}})</span> 
                        {%- endif -%}
                    </input>
                </li>
                {%- endfor -%}
            </ul>    
            
            <div class="highlight inset">
                <h3>Selected</h3>
                <p id="selected"></p>
            </div>
            <input type="button" value="Clear selected" id="clearSelected"/>
            <input type="submit" value="Invite All" type="submit"/>
        </form>
    </div>
</div>

<script type="text/javascript">

    function clearSelected() {
        let users = Array.from(document.querySelectorAll("#inactiveUsersList input"));
        users.map(u=>u.checked = false);
        document.querySelector("#selected").textContent = '';
    }

    window.addEventListener("load", () => {
        clearSelected();

        Array.from(document.querySelectorAll("#inactiveUsersList input")).map(elm => {
            addEventListener("change", e => {
                let users = Array.from(document.querySelectorAll("#inactiveUsersList input"));
                let checkedUsers = users.filter(u => u.checked);
                document.querySelector("#selected").textContent = 
                    checkedUsers.map(u=>u.parentElement.textContent.trim()).join(', ');
            });
        });
        document.querySelector("#clearSelected").addEventListener("click", e=> {
            clearSelected();
        });
    });
  
</script>



{%- endblock -%}

