{%- extends 'base/admin-base.njk' -%}
{%- set title = "Admin: Manage Users" -%}
{%- block content -%}

<script type="module" src="/js/table.js"></script>
<script type="module">
    import { EnhancedTable } from '/js/table.js';
    
    window.addEventListener("load", () => {
        let tableElm = document.querySelector("table");
        let tableControlsElm = document.querySelector("#table-controls");
        let enhancedTable = new EnhancedTable(tableElm, tableControlsElm);
        enhancedTable.enableSearch();
    });
</script>
<main class="center">
    <h2 id="pagename">Active users</h2>

    {# <div id="active-users"> #}
    <div id="table-controls" class="table-controls"></div>
    <div aria-labelledby="pagename" role="region" tabindex="0">
        <table aria-labelledby="pagename">
            <thead>
                <th>Name</th>
            </thead>
            <tbody>
                {%- for user in activeUsers -%}
                <tr>
                    <td>{{ user.name }}</td>
                </tr>
                {%- endfor -%}
            </tbody>
        </table>
    </div>
    {# </div> #}
</main>

{%- endblock -%}

