{%- extends 'base/admin-base.njk' -%}
{%- set title = "Admin: Manage Users" -%}
{%- block content -%}

<script type="module" src="/js/data-table.js"></script>
<script type="module">
    import { options } from '/js/tables/admin-active-users-table-options.js';
    import * as helpers from '/js/tables/data-table-helpers.js';

    let rows = {{activeUsers | dump | safe}};

    let headers = [
        {
            title: "Name",
            id: "name",
            sort: (a, b) => helpers.stringSort(a, b, row => row.name),
            sortIs: 'asc'
        }
    ];
    
    document.querySelector("data-table").options = {
        ...options,
        showTextSearch: true,
        columnSelectorLabel: "Select a column",
        filtersLabel: "Filters",
        defaultSortHeader: 0
    };

    document.querySelector("data-table").data = {
        headers, rows
    };  
    window.addEventListener("resize", () => {
        document.querySelector("data-table").render();
    }); 
</script>
<main class="center">
    <h2>Active users</h2>

    <div id="active-users">
        <data-table stylesheet="/css/data-table.css" summary="User information"></data-table>
    </div>
    <noscript>
    Javascript is required to view table(s) on this page.
    </noscript>
</main>

{%- endblock -%}

